openapi: 3.0.0
info:
    title: Solana Compressed NFT Minting API
    version: 1.0.0
    description: |
      Advanced API for minting compressed NFTs on Solana using state compression technology for cost-efficient NFT creation and management.
      This cutting-edge API leverages Solana's state compression for massive scalability improvements, enabling projects to mint
      thousands of NFTs at a fraction of the cost compared to traditional methods. The compressed NFT standard maintains full
      compatibility with marketplaces while dramatically reducing storage requirements and transaction fees.
    license:
        name: MIT
        url: https://opensource.org/licenses/MIT
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
security:
    - apiKey: []
paths:
    /:
        post:
            operationId: mintCompressedNft
            summary: Mint Compressed Solana NFT
            security:
                - apiKey: []
            parameters:
                - name: api-key
                  in: query
                  description: Your Helius API key for authentication and access to compressed NFT minting.
                  required: true
                  schema:
                      type: string
                      example: 'string'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                method:
                                    type: string
                                    enum: ['mintCompressedNft']
                                    description: The name of the RPC method to invoke.
                                params:
                                    type: object
                                    properties:
                                        name:
                                            type: string
                                            description: The name of the compressed Solana NFT to be minted, displayed on marketplaces and wallets.
                                            example: 'Exodia the Forbidden One'
                                        symbol:
                                            type: string
                                            description: The symbol of the compressed Solana NFT collection, typically a short identifier for the project.
                                            example: 'ETFO'
                                        description:
                                            type: string
                                            description: Detailed description of the compressed NFT for marketplaces and indexers.
                                            example: 'Exodia the Forbidden One is a powerful, legendary creature.'
                                        owner:
                                            type: string
                                            description: The Solana wallet address that will receive and own the compressed NFT after minting is complete.
                                            example: 'DCQnfUH6mHA333mzkU22b4hMvyqcejUBociodq8bB5HF'
                                        delegate:
                                            type: string
                                            description: Optional delegate address for the compressed NFT with usage permissions.
                                            example: 'DCQnfUH6mHA333mzkU22b4hMvyqcejUBociodq8bB5HF'
                                        collection:
                                            type: string
                                            description: Collection address to add this compressed NFT to for grouping, discovery and verification on Solana marketplaces.
                                        uri:
                                            type: string
                                            description: The URI pointing to the off-chain JSON metadata for the compressed NFT, typically hosted on Arweave or IPFS.
                                        attributes:
                                            type: array
                                            description: Array of traits and attributes that define the compressed NFT's characteristics.
                                            items:
                                                type: object
                                                properties:
                                                    trait_type:
                                                        type: string
                                                        description: The category or type of the trait for the compressed NFT.
                                                        example: 'Rarity'
                                                    value:
                                                        type: string
                                                        description: The specific value of the trait for the compressed NFT.
                                                        example: 'Mythical'
                                                required:
                                                    - trait_type
                                                    - value
                                        imageUrl:
                                            type: string
                                            description: Direct URL to the image that represents the compressed NFT on marketplaces.
                                            example: 'https://cdna.artstation.com/p/assets/images/images/052/118/830/large/julie-almoneda-03.jpg?1658992401'
                                        externalUrl:
                                            type: string
                                            description: Optional website URL related to the compressed NFT or collection.
                                            example: 'https://www.yugioh-card.com/en/'
                                        sellerFeeBasisPoints:
                                            type: integer
                                            description: Royalty percentage for creator earnings on secondary sales in basis points (100 = 1%, 1000 = 10%) on Solana marketplaces.
                                            example: 5000
                                        creators:
                                            type: array
                                            description: Array of creator addresses that contributed to the compressed NFT with royalty shares.
                                            items:
                                                type: object
                                                properties:
                                                    address:
                                                        type: string
                                                        description: Solana wallet address of the creator to receive royalties.
                                                        example: DCQnfUH6mHA333mzkU22b4hMvyqcejUBociodq8bB5HF
                                                    share:
                                                        type: integer
                                                        description: Percentage share of royalties allocated to this creator (sum must equal 100).
                                                        example: 100
                                                        minimum: 0
                                                        maximum: 100
                                                required:
                                                    - address
                                                    - share
                                        confirmTransaction:
                                            type: boolean
                                            description: If true, the API will wait for on-chain confirmation before responding.
                                    required:
                                        - name
                                        - symbol
                                        - description
                                        - owner
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
            responses:
                200:
                    description: Successfully minted compressed Solana NFT
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        enum: ['2.0']
                                        description: The version of the JSON-RPC protocol.
                                    id:
                                        type: string
                                        description: The ID used to identify the request.
                                    result:
                                        type: object
                                        properties:
                                            signature:
                                                type: string
                                                description: The Solana blockchain transaction signature of the successful compressed NFT mint operation for verification.
                                                example: 4FRxjAvHLGCEUXJqkucG7SdKrrmAeqjfTQKmhMZWvqGvkPGvWeZXY8Vfj8oxXtGnf7q3n4n8XHVDsExkpCtAEdKj
                                            minted:
                                                type: boolean
                                                description: Confirmation that the compressed NFT was successfully minted on Solana.
                                                example: true
                                            assetId:
                                                type: string
                                                description: The unique Solana asset ID of the minted compressed NFT, used for querying with the Digital Asset Standard (DAS) API.
                                                example: 6sx2ChPvudKVt4Gc6qr3X4FFwtM4vVa6uZMmQHn5udQE
                                required:
                                    - jsonrpc
                                    - id
                                    - result
                400:
                    description: Invalid request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                401:
                    description: Unauthorized request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                403:
                    description: Request was forbidden.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                404:
                    description: The specified resource was not found.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                429:
                    description: Exceeded rate limit..
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                500:
                    description: The server encountered an unexpected condition that prevented it from fulfilling the request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
components:
    securitySchemes:
        apiKey:
            type: apiKey
            in: query
            name: api-key
