openapi: "3.0.3"
info:
  title: "photon-indexer"
  description: "Solana 索引器用于一般压缩"
  license:
    name: "Apache-2.0"
  version: "0.50.0"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网 RPC 端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网 RPC 端点"
paths:
  /:
    summary: "getCompressedTokenAccountsByDelegate"
    post:
      description: "检索 getCompressedTokenAccountsByDelegate 信息"
      operationId: "getCompressedTokenAccountsByDelegate"
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
                - "params"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议的版本。"
                  enum:
                    - "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "用于标识请求的 ID。"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的方法名称。"
                  enum:
                    - "getCompressedTokenAccountsByDelegate"
                  default: "getCompressedTokenAccountsByDelegate"
                params:
                  type: "object"
                  required:
                    - "delegate"
                  properties:
                    cursor:
                      allOf:
                        - $ref: "#/components/schemas/Base58String"
                      nullable: true
                    delegate:
                      $ref: "#/components/schemas/SerializablePubkey"
                    limit:
                      allOf:
                        - $ref: "#/components/schemas/Limit"
                      nullable: true
                    mint:
                      allOf:
                        - $ref: "#/components/schemas/SerializablePubkey"
                      nullable: true
                  additionalProperties: false
        required: true
      responses:
        "200":
          description: "成功从Solana区块链中检索到由委托人压缩的代币账户"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "context"
                  - "value"
                properties:
                  context:
                    $ref: "#/components/schemas/Context"
                  value:
                    $ref: "#/components/schemas/TokenAccountList"
                additionalProperties: false
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        "401":
          description: "未授权 - API密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        "429":
          description: "请求过多 - 超出速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC 协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
    Account:
      type: "object"
      required:
        - "hash"
        - "owner"
        - "lamports"
        - "tree"
        - "leafIndex"
        - "seq"
        - "slotCreated"
      properties:
        address:
          $ref: "#/components/schemas/SerializablePubkey"
        data:
          $ref: "#/components/schemas/AccountData"
        hash:
          $ref: "#/components/schemas/Hash"
        lamports:
          $ref: "#/components/schemas/UnsignedInteger"
        leafIndex:
          $ref: "#/components/schemas/UnsignedInteger"
        owner:
          $ref: "#/components/schemas/SerializablePubkey"
        seq:
          $ref: "#/components/schemas/UnsignedInteger"
        slotCreated:
          $ref: "#/components/schemas/UnsignedInteger"
        tree:
          $ref: "#/components/schemas/SerializablePubkey"
      additionalProperties: false
    AccountData:
      type: "object"
      required:
        - "discriminator"
        - "data"
        - "dataHash"
      properties:
        data:
          $ref: "#/components/schemas/Base64String"
        dataHash:
          $ref: "#/components/schemas/Hash"
        discriminator:
          $ref: "#/components/schemas/UnsignedInteger"
      additionalProperties: false
    AccountState:
      type: "string"
      enum:
        - "initialized"
        - "frozen"
    Base58String:
      type: "string"
      description: "一个 base 58 编码的字符串。"
      default: "3J98t1WpEZ73CNm"
      example: "3J98t1WpEZ73CNm"
    Base64String:
      type: "string"
      description: "一个 base 64 编码的字符串。"
      default: "SGVsbG8sIFdvcmxkIQ=="
      example: "SGVsbG8sIFdvcmxkIQ=="
    Context:
      type: "object"
      required:
        - "slot"
      properties:
        slot:
          type: "integer"
          default: 100
          example: 100
    Hash:
      type: "string"
      description: "一个 32 字节的哈希，以 base58 字符串表示。"
      example: "11111112cMQwSC9qirWGjZM6gLGwW69X22mqwLLGP"
    Limit:
      type: "integer"
      format: "int64"
      minimum: 0
    SerializablePubkey:
      type: "string"
      description: "一个 Solana 公钥，以 base58 字符串表示。"
      default: "11111116EPqoQskEM2Pddp8KTL9JdYEBZMGF3aq7V"
      example: "11111116EPqoQskEM2Pddp8KTL9JdYEBZMGF3aq7V"
    TokenAcccount:
      type: "object"
      required:
        - "account"
        - "tokenData"
      properties:
        account:
          $ref: "#/components/schemas/Account"
        tokenData:
          $ref: "#/components/schemas/TokenData"
      additionalProperties: false
    TokenAccountList:
      type: "object"
      required:
        - "items"
      properties:
        cursor:
          $ref: "#/components/schemas/Base58String"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/TokenAcccount"
    TokenData:
      type: "object"
      required:
        - "mint"
        - "owner"
        - "amount"
        - "state"
      properties:
        amount:
          $ref: "#/components/schemas/UnsignedInteger"
        delegate:
          $ref: "#/components/schemas/SerializablePubkey"
        mint:
          $ref: "#/components/schemas/SerializablePubkey"
        owner:
          $ref: "#/components/schemas/SerializablePubkey"
        state:
          $ref: "#/components/schemas/AccountState"
        tlv:
          $ref: "#/components/schemas/Base64String"
    UnsignedInteger:
      type: "integer"
      default: 100
      example: 100
