openapi: "3.0.3"
info:
  title: "photon-indexer"
  description: "Solana 索引器用于通用压缩"
  license:
    name: "Apache-2.0"
  version: "0.50.0"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网 RPC 端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网 RPC 端点"
paths:
  /:
    summary: "getCompressedMintTokenHolders"
    post:
      description: "检索 getCompressedMintTokenHolders 信息"
      operationId: "getCompressedMintTokenHolders"
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
                - "params"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议的版本。"
                  enum:
                    - "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "用于标识请求的 ID。"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的方法名称。"
                  enum:
                    - "getCompressedMintTokenHolders"
                  default: "getCompressedMintTokenHolders"
                params:
                  type: "object"
                  required:
                    - "mint"
                  properties:
                    cursor:
                      allOf:
                        - $ref: "#/components/schemas/Base58String"
                      nullable: true
                    limit:
                      allOf:
                        - $ref: "#/components/schemas/Limit"
                      nullable: true
                    mint:
                      $ref: "#/components/schemas/SerializablePubkey"
                  additionalProperties: false
        required: true
      responses:
        "200":
          description: "成功从 Solana 区块链中检索到指定 mint 的压缩代币持有者"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "context"
                  - "value"
                properties:
                  context:
                    $ref: "#/components/schemas/Context"
                  value:
                    $ref: "#/components/schemas/OwnerBalanceList"
                additionalProperties: false
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        "401":
          description: "未授权 - API 密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        "429":
          description: "请求过多 - 超出速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC 协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
    Base58String:
      type: "string"
      description: "一个base 58编码的字符串。"
      default: "3J98t1WpEZ73CNm"
      example: "3J98t1WpEZ73CNm"
    Context:
      type: "object"
      required:
        - "slot"
      properties:
        slot:
          type: "integer"
          default: 100
          example: 100
    Limit:
      type: "integer"
      format: "int64"
      minimum: 0
    OwnerBalance:
      type: "object"
      required:
        - "owner"
        - "balance"
      properties:
        balance:
          $ref: "#/components/schemas/UnsignedInteger"
        owner:
          $ref: "#/components/schemas/SerializablePubkey"
    OwnerBalanceList:
      type: "object"
      required:
        - "items"
      properties:
        cursor:
          $ref: "#/components/schemas/Base58String"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/OwnerBalance"
    SerializablePubkey:
      type: "string"
      description: "一个以base58字符串表示的Solana公钥。"
      default: "111111152P2r5yt6odmBLPsFCLBrFisJ3aS7LqLAT"
      example: "111111152P2r5yt6odmBLPsFCLBrFisJ3aS7LqLAT"
    UnsignedInteger:
      type: "integer"
      default: 100
      example: 100
