openapi: "3.0.3"
info:
  title: "Solana 压缩资产交易监控 API"
  description: "高级 Solana 索引器，用于监控最近的压缩 NFT 和代币交易。此专用 API 使开发人员能够跟踪和分析 Solana 区块链上的最新压缩活动，提供对实时压缩资产操作、铸造、转移和其他与压缩相关的交易的可见性，并支持高效的分页。"
  license:
    name: "Apache-2.0"
  version: "0.50.0"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网 RPC 端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网 RPC 端点"
paths:
  /:
    summary: "getLatestCompressionSignatures"
    post:
      description: "检索 Solana 压缩操作的最新交易签名。此监控端点返回涉及 Solana 区块链上压缩 NFT 和代币的最新交易签名的分页列表，包括其时间戳和槽信息。对于跟踪压缩资产活动、市场分析、钱包历史同步以及审计 Solana 生态系统中的与压缩相关的交易至关重要。支持高效分页以持续监控压缩活动。"
      operationId: "getLatestCompressionSignatures"
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
                - "params"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议的版本。"
                  enum:
                    - "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "用于标识请求的 ID。"
                  default: "1"
                method:
                  type: "string"
                  description: "调用以检索最近 Solana 压缩交易签名的方法名称。"
                  enum:
                    - "getLatestCompressionSignatures"
                  default: "getLatestCompressionSignatures"
                params:
                  type: "object"
                  properties:
                    cursor:
                      type: "string"
                      nullable: true
                      description: "用于浏览大量 Solana 压缩交易签名的分页游标"
                    limit:
                      allOf:
                        - $ref: "#/components/schemas/Limit"
                      nullable: true
                      description: "每个请求返回的 Solana 压缩交易签名的最大数量"
                  additionalProperties: false
        required: true
      responses:
        "200":
          description: "成功检索到最新的 Solana 压缩交易签名"
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "context"
                  - "value"
                properties:
                  context:
                    $ref: "#/components/schemas/Context"
                  value:
                    $ref: "#/components/schemas/PaginatedSignatureInfoList"
                additionalProperties: false
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "参数无效"
                id: "1"
        "401":
          description: "未授权 - API 密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "未授权"
                id: "1"
        "429":
          description: "请求过多 - 超过速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC 协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "Identifier matching the request."
          example: "1"
    Context:
      type: "object"
      required:
        - "slot"
      properties:
        slot:
          type: "integer"
          default: 100
          example: 100
          description: "Current Solana blockchain slot for this compression signature request"
    Limit:
      type: "integer"
      format: "int64"
      minimum: 0
      description: "Maximum number of Solana compression transaction signatures to return in a single request"
    PaginatedSignatureInfoList:
      type: "object"
      required:
        - "items"
      properties:
        cursor:
          type: "string"
          nullable: true
          description: "Pagination cursor to retrieve the next set of Solana compression transaction signatures"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/SignatureInfo"
          description: "Array of Solana compressed NFT and token transaction signatures with their metadata"
    SerializableSignature:
      type: "string"
      description: "A Solana transaction signature for a compression-related operation, used to identify and verify transactions."
      default: "5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c"
      example: "5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c"
    SignatureInfo:
      type: "object"
      required:
        - "signature"
        - "slot"
        - "blockTime"
      properties:
        blockTime:
          $ref: "#/components/schemas/UnixTimestamp"
          description: "处理此 Solana 压缩资产交易时的 Unix 时间戳"
        signature:
          $ref: "#/components/schemas/SerializableSignature"
          description: "此 Solana 压缩资产操作的唯一交易签名"
        slot:
          $ref: "#/components/schemas/UnsignedInteger"
          description: "包含此压缩资产交易的 Solana 区块链插槽"
    UnixTimestamp:
      type: "integer"
      description: "处理 Solana 压缩资产交易时的 Unix 时间戳（秒）"
      default: 1714081554
      example: 1714081554
    UnsignedInteger:
      type: "integer"
      default: 100
      example: 100
      description: "表示 Solana 区块链插槽编号的非负整数值"
