#navbar a[href="https://dashboard.helius.dev"] {
    background-color: #26262b;
    padding: 6px 6px 6px 16px;
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#navbar a[href="https://dashboard.helius.dev"]:hover {
    background-color: #3e3e47;
}

#navbar a[href="https://dashboard.helius.dev"] > div {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 450 !important; 
  font-style: normal !important;
}

#navigation-items {
  padding-left: 1rem;
  padding-right: 1rem;
}

#footer a {
  max-width: none !important;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-color: rgb(var(--primary-light) / 0.8);
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)):hover {
  border-color: rgb(var(--primary-light) / 1);
}

#banner {
  background-color: #0F0F0F;
}