openapi: 3.0.3
info:
  title: photon-indexer
  description: Solana indexer for general compression
  license:
    name: Apache-2.0
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
paths:
  /:
    summary: getCompressedBalanceByOwner
    post:
      summary: Retrieves getCompressedBalanceByOwner information
      operationId: getCompressedBalanceByOwner
      security:
        - ApiKeyQuery: []

      responses:

        '200':

          description: Successful response

          content:

            application/json:

              schema:

                type: object

                properties:

                  result:

                    type: object

                    description: The result of the getCompressedBalanceByOwner request

        '400':

          description: Bad request

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Error message

        '429':

          description: Too many requests

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Rate limit exceeded message
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
      default: 11111113R2cuenjG5nFubqX9Wzuukdin2YfGQVzu5
      example: 11111113R2cuenjG5nFubqX9Wzuukdin2YfGQVzu5
    UnsignedInteger:
      type: integer
      default: 100
      example: 100