openapi: 3.0.3
info:
  title: Solana Compressed Account Verification API
  description: |
    Advanced Solana indexer for verifying compressed accounts using merkle proofs.
    This specialized verification API enables applications to cryptographically validate 
    the existence and data integrity of compressed NFTs and token accounts on the Solana blockchain
    through efficient merkle proof verification, supporting the secure usage of state compression
    technology that reduces on-chain storage costs by up to 1000x compared to traditional accounts.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
paths:
  /:
    summary: getCompressedAccountProof
    post:
      description: |
        Retrieve the cryptographic merkle proof for a specific compressed Solana account.
        This verification endpoint returns the complete proof path needed to validate a compressed
        NFT or token account's existence and data integrity on the Solana blockchain without requiring
        the full account data to be stored on-chain. Essential for wallet applications, marketplaces,
        and DeFi protocols that need to verify ownership and authenticity of compressed assets while
        benefiting from Solana's breakthrough state compression technology for dramatic cost reductions.
      operationId: getCompressedAccountProof
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                  default: '2.0'
                id:
                  type: string
                  description: An ID to identify the request.
                  default: "1"
                method:
                  type: string
                  description: The name of the method to invoke for retrieving Solana compressed account proof data.
                  enum:
                  - getCompressedAccountProof
                  default: getCompressedAccountProof
                params:
                  type: object
                  required:
                  - hash
                  properties:
                    hash:
                      $ref: '#/components/schemas/Hash'
                      description: The hash of the Solana compressed account to retrieve the proof for
        required: true
      responses:
        '200':
          description: 'Successfully retrieved merkle proof for the requested Solana compressed account'
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - value
                properties:
                  context:
                    $ref: '#/components/schemas/Context'
                  value:
                    $ref: '#/components/schemas/MerkleProofWithContext'
                additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
          description: Current Solana blockchain slot for this compressed account proof request
    Hash:
      type: string
      description: A 32-byte cryptographic hash represented as a base58 string, uniquely identifying a Solana compressed account.
      example: 11111112cMQwSC9qirWGjZM6gLGwW69X22mqwLLGP
    MerkleProofWithContext:
      type: object
      required:
      - proof
      - root
      - leafIndex
      - hash
      - merkleTree
      - rootSeq
      properties:
        hash:
          $ref: '#/components/schemas/Hash'
          description: The unique hash identifier of the Solana compressed account being verified
        leafIndex:
          type: integer
          format: int32
          minimum: 0
          description: The position index of this compressed account in the Solana merkle tree structure
        merkleTree:
          $ref: '#/components/schemas/SerializablePubkey'
          description: The address of the Solana merkle tree where this compressed account is stored
        proof:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
          description: Array of hashes forming the merkle proof path to verify this Solana compressed account
        root:
          $ref: '#/components/schemas/Hash'
          description: The root hash of the Solana merkle tree containing this compressed account
        rootSeq:
          type: integer
          format: int64
          minimum: 0
          description: The sequence number of the root in the Solana merkle tree for version tracking
      additionalProperties: false
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string, used to identify merkle trees and accounts.
      default: 11111117353mdUKehx9GW6JNHznGt5oSZs9fWkVkB
      example: 11111117353mdUKehx9GW6JNHznGt5oSZs9fWkVkB
