openapi: 3.0.3
info:
  title: photon-indexer
  description: Solana indexer for general compression
  license:
    name: Apache-2.0
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
paths:
  /:
    summary: getCompressedTokenBalancesByOwnerV2
    post:
      summary: Retrieves getCompressedTokenBalancesByOwnerV2 information
      operationId: getCompressedTokenBalancesByOwnerV2
      security:
        - ApiKeyQuery: []

      responses:

        '200':

          description: Successful response

          content:

            application/json:

              schema:

                type: object

                properties:

                  result:

                    type: object

                    description: The result of the getCompressedTokenBalancesByOwnerV2 request

        '400':

          description: Bad request

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Error message

        '429':

          description: Too many requests

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Rate limit exceeded message
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    Base58String:
      type: string
      description: A base 58 encoded string.
      default: 3J98t1WpEZ73CNm
      example: 3J98t1WpEZ73CNm
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
    Limit:
      type: integer
      format: int64
      minimum: 0
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
      default: 11111114DhpssPJgSi1YU7hCMfYt1BJ334YgsffXm
      example: 11111114DhpssPJgSi1YU7hCMfYt1BJ334YgsffXm
    TokenBalance:
      type: object
      required:
      - mint
      - balance
      properties:
        balance:
          $ref: '#/components/schemas/UnsignedInteger'
        mint:
          $ref: '#/components/schemas/SerializablePubkey'
    TokenBalanceListV2:
      type: object
      required:
      - items
      properties:
        cursor:
          $ref: '#/components/schemas/Base58String'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TokenBalance'
    UnsignedInteger:
      type: integer
      default: 100
      example: 100