openapi: 3.0.3
info:
  title: Solana Compression Indexer Monitoring API
  description: |
    Advanced Solana indexer health monitoring API for state compression infrastructure.
    This monitoring endpoint enables developers to verify the operational status of the 
    Solana compression indexer service, ensuring that compressed NFT and token operations 
    can be reliably processed. Critical for applications depending on Solana's state 
    compression technology for cost-efficient digital assets.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: The JSON-RPC protocol version.
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: The error code.
              example: -32602
            message:
              type: string
              description: The error message.
            data:
              type: object
              description: Additional data about the error.
        id:
          type: string
          description: Identifier matching the request.
          example: "1"
paths:
  /:
    summary: getIndexerHealth
    post:
      description: |
        Check if the Solana compression indexer is functioning correctly and synchronized with the network.
        This essential monitoring API provides a simple health status indicator to verify if the compression
        indexer service is operational and keeping up with the Solana blockchain. Returns a successful response
        if the indexer is healthy or an error response with diagnostic details if experiencing issues. 
        Critical for infrastructure monitoring systems, reliability dashboards, and any service requiring 
        confirmation that the Solana compression infrastructure is functioning properly before performing 
        operations on compressed NFTs or tokens.
      operationId: getIndexerHealth
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                  default: '2.0'
                id:
                  type: string
                  description: An ID to identify the request.
                  default: "1"
                method:
                  type: string
                  description: The name of the method to invoke for checking Solana compression indexer health status.
                  enum:
                  - getIndexerHealth
                  default: getIndexerHealth
        required: true
      responses:
        '200':
          description: 'The Solana compression indexer is healthy and synchronized with the network'
          content:
            application/json:
              schema:
                type: string
                description: Returns "ok" when the Solana compression indexer is healthy and functioning properly
                default: ok
                enum:
                - ok
        '400':
          description: Bad Request - Invalid request parameters or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        '401':
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        '429':
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        '500':
          description: Internal Server Error - The compression indexer is experiencing issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
        '503':
          description: Service Unavailable - The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "Service unavailable"
                id: "1"
        '504':
          description: Gateway Timeout - The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "Gateway timeout"
                id: "1"

