openapi: 3.0.3
info:
  title: Solana Compressed Asset Transaction Monitoring API
  description: |
    Advanced Solana indexer for monitoring recent compressed NFT and token transactions.
    This specialized API enables developers to track and analyze the latest compression activity
    on the Solana blockchain, providing visibility into real-time compressed asset operations, 
    mints, transfers, and other compression-related transactions with efficient pagination support.
  license:
    name: Apache-2.0
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
paths:
  /:
    summary: getLatestCompressionSignatures
    post:
      description: |
        Retrieve the most recent transaction signatures for Solana compression operations.
        This monitoring endpoint returns a paginated list of the latest transaction signatures
        involving compressed NFTs and tokens on the Solana blockchain, including their timestamp
        and slot information. Essential for tracking compressed asset activity, market analysis,
        wallet history synchronization, and auditing compression-related transactions across the
        Solana ecosystem. Supports efficient pagination for continuous monitoring of compression activity.
      operationId: getLatestCompressionSignatures
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                  default: '2.0'
                id:
                  type: string
                  description: An ID to identify the request.
                  default: "1"
                method:
                  type: string
                  description: The name of the method to invoke for retrieving recent Solana compression transaction signatures.
                  enum:
                  - getLatestCompressionSignatures
                  default: getLatestCompressionSignatures
                params:
                  type: object
                  properties:
                    cursor:
                      type: string
                      nullable: true
                      description: Pagination cursor for navigating through large sets of Solana compression transaction signatures
                    limit:
                      allOf:
                      - $ref: '#/components/schemas/Limit'
                      nullable: true
                      description: Maximum number of Solana compression transaction signatures to return per request
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: 'Successfully retrieved latest Solana compression transaction signatures'
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - value
                properties:
                  context:
                    $ref: '#/components/schemas/Context'
                  value:
                    $ref: '#/components/schemas/PaginatedSignatureInfoList'
                additionalProperties: false
        '400':
          description: Bad Request - Invalid request parameters or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        '401':
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        '429':
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        '500':
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
        '503':
          description: Service Unavailable - The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "Service unavailable"
                id: "1"
        '504':
          description: Gateway Timeout - The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "Gateway timeout"
                id: "1"
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: The JSON-RPC protocol version.
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: The error code.
              example: -32602
            message:
              type: string
              description: The error message.
            data:
              type: object
              description: Additional data about the error.
        id:
          type: string
          description: Identifier matching the request.
          example: "1"
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
          description: Current Solana blockchain slot for this compression signature request
    Limit:
      type: integer
      format: int64
      minimum: 0
      description: Maximum number of Solana compression transaction signatures to return in a single request
    PaginatedSignatureInfoList:
      type: object
      required:
      - items
      properties:
        cursor:
          type: string
          nullable: true
          description: Pagination cursor to retrieve the next set of Solana compression transaction signatures
        items:
          type: array
          items:
            $ref: '#/components/schemas/SignatureInfo'
          description: Array of Solana compressed NFT and token transaction signatures with their metadata
    SerializableSignature:
      type: string
      description: A Solana transaction signature for a compression-related operation, used to identify and verify transactions.
      default: 5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c
      example: 5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c
    SignatureInfo:
      type: object
      required:
      - signature
      - slot
      - blockTime
      properties:
        blockTime:
          $ref: '#/components/schemas/UnixTimestamp'
          description: Unix timestamp when this Solana compressed asset transaction was processed
        signature:
          $ref: '#/components/schemas/SerializableSignature'
          description: Unique transaction signature for this Solana compressed asset operation
        slot:
          $ref: '#/components/schemas/UnsignedInteger'
          description: Solana blockchain slot in which this compressed asset transaction was included
    UnixTimestamp:
      type: integer
      description: Unix timestamp (seconds) when the Solana compressed asset transaction was processed
      default: 1714081554
      example: 1714081554
    UnsignedInteger:
      type: integer
      default: 100
      example: 100
      description: Non-negative integer value representing a Solana blockchain slot number
