openapi: 3.0.3
info:
  title: photon-indexer
  description: Solana indexer for general compression
  license:
    name: Apache-2.0
  version: 0.50.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
paths:
  /:
    summary: getMultipleNewAddressProofsV2
    post:
      summary: Retrieves getMultipleNewAddressProofsV2 information
      operationId: getMultipleNewAddressProofsV2
      security:
        - ApiKeyQuery: []

      responses:

        '200':

          description: Successful response

          content:

            application/json:

              schema:

                type: object

                properties:

                  result:

                    type: object

                    description: The result of the getMultipleNewAddressProofsV2 request

        '400':

          description: Bad request

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Error message

        '429':

          description: Too many requests

          content:

            application/json:

              schema:

                type: object

                properties:

                  error:

                    type: string

                    description: Rate limit exceeded message
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    AddressWithTree:
      type: object
      required:
      - address
      - tree
      properties:
        address:
          $ref: '#/components/schemas/SerializablePubkey'
        tree:
          $ref: '#/components/schemas/SerializablePubkey'
      additionalProperties: false
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
    Hash:
      type: string
      description: A 32-byte hash represented as a base58 string.
      example: 11111112cMQwSC9qirWGjZM6gLGwW69X22mqwLLGP
    MerkleContextWithNewAddressProof:
      type: object
      required:
      - root
      - address
      - lowerRangeAddress
      - higherRangeAddress
      - nextIndex
      - proof
      - merkleTree
      - rootSeq
      - lowElementLeafIndex
      properties:
        address:
          $ref: '#/components/schemas/SerializablePubkey'
        higherRangeAddress:
          $ref: '#/components/schemas/SerializablePubkey'
        lowElementLeafIndex:
          type: integer
          format: int32
          minimum: 0
        lowerRangeAddress:
          $ref: '#/components/schemas/SerializablePubkey'
        merkleTree:
          $ref: '#/components/schemas/SerializablePubkey'
        nextIndex:
          type: integer
          format: int32
          minimum: 0
        proof:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        root:
          $ref: '#/components/schemas/Hash'
        rootSeq:
          type: integer
          format: int64
          minimum: 0
      additionalProperties: false
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
      default: 11111118F5rixNBnFLmioWZSYzjjFuAL5dyoDVzhD
      example: 11111118F5rixNBnFLmioWZSYzjjFuAL5dyoDVzhD