openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getAccountInfo
      operationId: getAccountInfo
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getAccountInfo"
                  default: "getAccountInfo"
                params:
                  type: array
                  default: ["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"]
                  items:
                    oneOf:
                      - title: Pubkey
                        type: string
                        description: Pubkey of account to query, as a base-58 encoded string.
                        example: "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
                      - title: Configuration Object
                        type: object
                        description: Configuration object.
                        properties:
                          commitment:
                            type: string
                            description: Commitment level for the query.
                            enum:
                              - "finalized"
                              - "confirmed"
                              - "processed"
                            example: "confirmed"
                          encoding:
                            type: string
                            description: Encoding format for account data.
                            enum:
                              - "base58"
                              - "base64"
                              - "base64+zstd"
                              - "jsonParsed"
                            example: "base58"
                          dataSlice:
                            type: object
                            description: Request a slice of the account's data.
                            properties:
                              offset:
                                type: integer
                                description: Byte offset from which to start reading.
                                example: 0
                              length:
                                type: integer
                                description: Number of bytes to return.
                                example: 64
                          minContextSlot:
                            type: integer
                            description: The minimum slot that the request can be evaluated at.
                            example: 100000000
            example:
              jsonrpc: "2.0"
              id: 1
              method: "getAccountInfo"
              params:
                - "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
                - encoding: "base58"
      responses:
        200:
          description: Successfully retrieved account information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  result:
                    type: object
                    properties:
                      context:
                        type: object
                        description: Context of the request.
                        properties:
                          apiVersion:
                            type: string
                            description: API version of the request.
                            example: "2.0.15"
                          slot:
                            type: integer
                            description: Slot number of the response.
                            example: 341197053
                      value:
                        oneOf:
                          - type: object
                            description: Account data if the account exists.
                            properties:
                              lamports:
                                type: integer
                                description: Number of lamports assigned to this account.
                                example: 88849814690250
                              owner:
                                type: string
                                description: Base-58 encoded Pubkey of the program this account is assigned to.
                                example: "11111111111111111111111111111111"
                              data:
                                type: array
                                items:
                                  type: string
                                description: Data associated with the account, either as encoded binary data or JSON format.
                                example:
                                  - ""
                                  - "base58"
                              executable:
                                type: boolean
                                description: Indicates if the account contains a program.
                                example: false
                              rentEpoch:
                                type: integer
                                description: The epoch at which this account will next owe rent.
                                example: 18446744073709551615
                              space:
                                type: integer
                                description: The data size of the account.
                                example: 0
                  id:
                    type: integer
                    description: A unique identifier matching the request ID.
                    example: 1
                  method:
                    type: string
                    description: The method being called.
                    example: "getAccountInfo"
                  params:
                    type: array
                    description: Parameters for the request.
                    items:
                      oneOf:
                        - type: string
                        - type: object
                          properties:
                            encoding:
                              type: string
              examples:
                response:
                  value:
                    jsonrpc: "2.0"
                    result:
                      context:
                        apiVersion: "2.0.15"
                        slot: 341197053
                      value:
                        lamports: 88849814690250
                        owner: "11111111111111111111111111111111"
                        data:
                          - ""
                          - "base58"
                        executable: false
                        rentEpoch: 18446744073709551615
                        space: 0
                    id: 1
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
