openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getBlocksWithLimit
      operationId: getBlocksWithLimit
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getBlocksWithLimit"
                  example: "getBlocksWithLimit"
                params:
                  type: array
                  description: Request parameters for the method.
                  items:
                    type: object
                    properties:
                      start_slot:
                        type: integer
                        description: Start slot (required).
                        example: 5
                      limit:
                        type: integer
                        description: Limit (required, must be ≤ 500,000 blocks from start slot).
                        example: 3
                      commitment:
                        type: string
                        description: The commitment level for the request.
                        enum:
                          - confirmed
                          - finalized
                        example: finalized
      responses:
        200:
          description: Successfully retrieved confirmed blocks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: array
                    description: List of confirmed blocks starting at start_slot for up to the limit.
                    items:
                      type: integer
                    example:
                      - 5
                      - 6
                      - 7
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
