openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Advanced Solana block data retrieval API for accessing comprehensive blockchain block information including transactions, signatures, and rewards with configurable detail levels.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
paths:
  /:
    post:
      tags:
        - RPC
      summary: getBlock
      operationId: getBlock
      description: |
        Retrieve detailed Solana block information for a specified slot number. Access complete 
        block data including transactions, signatures, account changes, rewards, and timing information.
        Configure the level of transaction detail and encoding format to optimize for your specific 
        application needs.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The JSON-RPC protocol version.
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum: ["getBlock"]
                  description: The name of the RPC method to invoke.
                  default: "getBlock"
                params:
                  type: array
                  description: Parameters for the request.
                  default: [430]
                  items:
                    oneOf:
                      - type: integer
                        description: Slot number as a `u64` integer.
                        example: 430
                      - type: object
                        description: Additional configuration options for the request.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum: [finalized]
                            default: finalized
                          encoding:
                            type: string
                            description: The encoding format for each returned transaction.
                            enum: [json, jsonParsed, base58, base64]
                            default: json
                          transactionDetails:
                            type: string
                            description: >-
                              Level of transaction detail to return. If accounts are requested, 
                              transaction details only include signatures and an annotated list 
                              of accounts in each transaction. Transaction metadata includes only: 
                              fee, err, pre_balances, post_balances, pre_token_balances, and post_token_balances.
                            enum: [full, accounts, signatures, none]
                            default: full
                          maxSupportedTransactionVersion:
                            type: integer
                            description: >-
                              Maximum transaction version to return in responses. If the requested block 
                              contains a transaction with a higher version, an error will be returned. 
                              If omitted, only legacy transactions will be returned.
                          rewards:
                            type: boolean
                            description: Whether to populate the rewards array.
                            default: true
      responses:
        200:
          description: Successfully retrieved block details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  result:
                    type: object
                    properties:
                      blockhash:
                        type: string
                        description: The blockhash of this block (base-58 encoded string).
                        example: "DUCT8VSgk2BXkMhQfxKVYfikEZCQf4dZ4ioPdGdaVxMN"
                      previousBlockhash:
                        type: string
                        description: The blockhash of the block's parent.
                        example: "HA2fJgGqmQezCXJRVNZAWPbRMXCPjUyo7VjRF47JGdYs"
                      parentSlot:
                        type: integer
                        description: The slot index of this block's parent.
                        example: 429
                      transactions:
                        type: array
                        description: Array of transaction details.
                        items:
                          type: object
                          properties:
                            meta:
                              type: object
                              nullable: true
                              description: Metadata associated with the transaction.
                            transaction:
                              type: object
                              description: Transaction details.
                              properties:
                                message:
                                  type: object
                                  properties:
                                    accountKeys:
                                      type: array
                                      description: Array of account public keys used in this transaction.
                                      items:
                                        type: string
                                    header:
                                      type: object
                                      properties:
                                        numReadonlySignedAccounts:
                                          type: integer
                                          description: Number of readonly signed accounts.
                                        numReadonlyUnsignedAccounts:
                                          type: integer
                                          description: Number of readonly unsigned accounts.
                                        numRequiredSignatures:
                                          type: integer
                                          description: Number of required signatures.
                                    instructions:
                                      type: array
                                      description: Array of program instructions.
                                      items:
                                        type: object
                                        properties:
                                          accounts:
                                            type: array
                                            description: Array of account indexes.
                                            items:
                                              type: integer
                                          data:
                                            type: string
                                            description: Program input data encoded in base58.
                                          programIdIndex:
                                            type: integer
                                            description: Index of the program ID in the accountKeys array.
                                          stackHeight:
                                            type: integer
                                            nullable: true
                                            description: Stack height.
                                    recentBlockhash:
                                      type: string
                                      description: Recent blockhash used in this transaction.
                                signatures:
                                  type: array
                                  description: Array of signatures for this transaction (base-58 encoded).
                                  items:
                                    type: string
                      blockTime:
                        type: integer
                        nullable: true
                        description: Estimated production time as Unix timestamp.
                        example: null
                      blockHeight:
                        type: integer
                        nullable: true
                        description: Number of blocks beneath this block.
                        example: null
                      rewards:
                        type: array
                        description: Rewards for the block.
                        items:
                          type: object
                          properties:
                            pubkey:
                              type: string
                              description: The public key of the account that received the reward.
                            lamports:
                              type: integer
                              description: Number of reward lamports credited or debited.
                            rewardType:
                              type: string
                              nullable: true
                              description: Type of reward (e.g., "fee", "rent").
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"