openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Blockchain timestamping API for retrieving the Unix timestamp when a particular Solana block was produced, enabling correlation between on-chain events and real-world time.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getBlockTime
      operationId: getBlockTime
      description: |
        Convert a Solana block slot number to its corresponding real-world timestamp.
        This time correlation API translates blockchain slots to Unix timestamps (seconds since epoch),
        providing the exact time when a specific block was produced. Essential for applications that
        need to establish precise timing relationships between on-chain events and real-world time,
        including transaction history displays, financial reporting tools, audit systems, analytics
        platforms tracking temporal patterns, tax calculation software, and any application that
        needs to present blockchain activity with familiar human-readable dates and times rather
        than just technical slot numbers.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum: ["getBlockTime"]
                  description: The name of the RPC method to invoke.
                  default: "getBlockTime"
                params:
                  type: array
                  description: Parameters for the request.
                  default: [5]
                  items:
                    type: integer
                    description: Block slot number to retrieve the corresponding timestamp for.
                    example: 5
      responses:
        200:
          description: Successfully retrieved block time.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  result:
                    type: integer
                    description: Unix timestamp (seconds since the Unix epoch) when this specific Solana block was produced by a validator.
                    example: 1574721591
        400:
          description: Block time not available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        description: Error code for the failure.
                        example: -32004
                      message:
                        type: string
                        description: Error message indicating the requested block is not available in this node's ledger history.
                        example: "Block not available for slot 150"
