openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Comprehensive Solana epoch monitoring API for tracking validator cycle progress, staking periods, and blockchain time metrics with detailed epoch statistics.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getEpochInfo
      operationId: getEpochInfo
      description: |
        Retrieve detailed information about the current Solana epoch, validator cycle, and network progression.
        This essential API provides comprehensive epoch metrics including current epoch number, slot progression,
        and transaction counts. Epochs represent validator rotation cycles, staking reward periods, and
        time segmentation on the Solana blockchain. Critical for staking applications, reward calculators,
        validator monitoring tools, and any application that needs to track network progress or implement
        epoch-based logic such as rewards distribution or protocol upgrades.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getEpochInfo"
                  example: "getEpochInfo"
                  default: "getEpochInfo"
                params:
                  type: array
                  description: Optional parameters for the request.
                  default: []
                  items:
                    type: object
                    properties:
                      commitment:
                        type: string
                        description: The commitment level for the request.
                        enum:
                          - confirmed
                          - finalized
                        example: finalized
                      minContextSlot:
                        type: integer
                        description: The minimum slot that the request can be evaluated at.
                        example: 1000
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getEpochInfo"
              params:
                - commitment: "finalized"
                  minContextSlot: 1000
      responses:
        200:
          description: Successfully retrieved epoch information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    properties:
                      absoluteSlot:
                        type: integer
                        description: The current absolute Solana slot number representing global blockchain progress.
                        example: 166598
                      blockHeight:
                        type: integer
                        description: Current Solana blockchain height in blocks, useful for tracking overall chain growth.
                        example: 166500
                      epoch:
                        type: integer
                        description: Current Solana epoch number representing the validator cycle and staking period.
                        example: 27
                      slotIndex:
                        type: integer
                        description: Current position within the epoch, showing progression through the validator cycle.
                        example: 2790
                      slotsInEpoch:
                        type: integer
                        description: Total number of slots in the current epoch, defining epoch duration and validator schedule length.
                        example: 8192
                      transactionCount:
                        type: integer
                        nullable: true
                        description: Cumulative number of successful transactions processed on Solana since genesis.
                        example: 22661093
              examples:
                default:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result:
                      absoluteSlot: 166598
                      blockHeight: 166500
                      epoch: 27
                      slotIndex: 2790
                      slotsInEpoch: 8192
                      transactionCount: 22661093
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
