openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Blockchain history management API for identifying the oldest Solana block data available on this node, helping applications determine ledger data retention boundaries.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getFirstAvailableBlock
      operationId: getFirstAvailableBlock
      description: |
        Retrieve the earliest Solana block that is still accessible in this node's ledger storage.
        This blockchain history API identifies the lower boundary of available historical data,
        returning the slot number of the oldest block that hasn't been purged from storage.
        Solana nodes typically do not store the entire blockchain history from genesis, instead
        maintaining a sliding window of recent blocks based on storage capacity constraints.
        Essential for applications working with historical blockchain data, archival services,
        indexers, and analytics tools that need to determine how far back they can query
        block, transaction, and account data on this particular Solana node.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getFirstAvailableBlock"
                  example: "getFirstAvailableBlock"
                  default: "getFirstAvailableBlock"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getFirstAvailableBlock"
      responses:
        200:
          description: Successfully retrieved the slot of the lowest confirmed block.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: integer
                    description: Earliest Solana block slot number still available in this node's storage history, indicating the lower boundary of accessible blockchain data.
                    example: 250000
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
