openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Node monitoring API for checking Solana validator operational status and synchronization health to verify service reliability and blockchain connectivity.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getHealth
      operationId: getHealth
      description: |
        Check if the Solana node is functioning correctly and synchronized with the network.
        This essential monitoring API provides a simple health status indicator to verify if 
        the RPC endpoint is operational and keeping up with the blockchain. Returns a 
        successful response if the node is healthy or an error response with diagnostic 
        details if the node is experiencing issues such as falling behind in blockchain 
        synchronization. Critical for infrastructure monitoring systems, reliability dashboards,
        high-availability setups, application health checks, and any service requiring confirmation
        that a Solana RPC endpoint is functioning properly before sending transaction requests.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getHealth"
                  example: "getHealth"
                  default: "getHealth"
            examples:
              request:
                value:
                  jsonrpc: "2.0"
                  id: "1"
                  method: "getHealth"
      responses:
        200:
          description: The node is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: string
                    description: Health status indicator confirming the node is operational and synchronized with the Solana network.
                    example: "ok"
              examples:
                response:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result: "ok"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  error:
                    type: object
                    description: Error details.
                    properties:
                      code:
                        type: integer
                        description: Error code.
                        example: -32600
                      message:
                        type: string
                        description: Error message.
                        example: "Invalid request"
        500:
          description: The node is unhealthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  error:
                    type: object
                    description: Details of the error indicating node health status.
                    properties:
                      code:
                        type: integer
                        description: Error code indicating the issue.
                        example: -32005
                      message:
                        type: string
                        description: Detailed error message explaining the specific node health issue impacting service availability.
                        example: "Node is behind by 42 slots"
                      data:
                        type: object
                        description: Diagnostic metrics about the node's synchronization status.
                        properties:
                          numSlotsBehind:
                            type: integer
                            description: Number of Solana blockchain slots the node has fallen behind the current network tip.
                            example: 42
