openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Validator synchronization API for retrieving information about available Solana blockchain snapshots that enable fast node bootstrapping and ledger state reconstruction.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  examples:
    getHighestSnapshotSlotRequest:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getHighestSnapshotSlot"
    getHighestSnapshotSlotResponse:
      value:
        jsonrpc: "2.0"
        id: "1"
        result:
          full: 100
          incremental: 110
paths:
  /:
    post:
      tags:
        - RPC
      summary: getHighestSnapshotSlot
      operationId: getHighestSnapshotSlot
      description: |
        Retrieve information about the latest available Solana blockchain snapshots for validator bootstrapping.
        This node synchronization API returns the highest slots for which this RPC endpoint has snapshot data
        available. Snapshots are point-in-time archives of blockchain state that enable new validators to
        rapidly bootstrap without replaying the entire transaction history. The response includes both full 
        and incremental snapshot information, with full snapshots containing complete ledger state and incremental
        snapshots containing only state changes since the last full snapshot. Essential for validator operators 
        bootstrapping new nodes, network monitoring tools, and services tracking snapshot availability across 
        the network to facilitate fast validator deployment and recovery operations.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getHighestSnapshotSlot"
                  example: "getHighestSnapshotSlot"
                  default: "getHighestSnapshotSlot"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getHighestSnapshotSlot"
      responses:
        200:
          description: The node has a snapshot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Latest available Solana blockchain snapshot information from this node.
                    properties:
                      full:
                        type: integer
                        description: Highest Solana slot for which a complete blockchain state snapshot is available on this node.
                        example: 100
                      incremental:
                        type: integer
                        nullable: true
                        description: Highest Solana slot for which an incremental state delta snapshot is available, built on top of the full snapshot.
                        example: 110
        500:
          description: The node has no snapshot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  error:
                    type: object
                    description: Details of the error when no snapshot is available.
                    properties:
                      code:
                        type: integer
                        description: Error code indicating the node has no snapshot data available for bootstrap operations.
                        example: -32008
                      message:
                        type: string
                        description: Error message indicating this node does not have snapshot archives available.
                        example: "No snapshot"
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  error:
                    type: object
                    description: Details of the error when request is invalid.
                    properties:
                      code:
                        type: integer
                        description: Error code indicating the issue.
                        example: -32600
                      message:
                        type: string
                        description: Error message describing the issue.
                        example: "Invalid request"
