openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Token economics API for retrieving current Solana inflation metrics including total issuance rate and distribution allocation across validators and the foundation.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: The JSON-RPC protocol version.
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: The error code.
              example: -32602
            message:
              type: string
              description: The error message.
            data:
              type: object
              description: Additional data about the error.
        id:
          type: string
          description: Identifier matching the request.
          example: "1"
  examples:
    getInflationRateRequest:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getInflationRate"
    getInflationRateResponse:
      value:
        jsonrpc: "2.0"
        id: "1"
        result:
          total: 0.149
          validator: 0.148
          foundation: 0.001
          epoch: 100
paths:
  /:
    post:
      tags:
        - RPC
      summary: getInflationRate
      operationId: getInflationRate
      description: |
        Retrieve current Solana network inflation rate and its distribution allocation.
        This tokenomics API provides details about the blockchain's monetary policy, 
        showing the current annual inflation rate and how newly created SOL tokens are
        distributed between validators (as staking rewards) and the Solana Foundation.
        Solana employs a disinflationary monetary policy, where inflation gradually decreases
        over time from its initial rate until reaching a long-term stable rate. Essential for
        financial analysts, economic researchers, staking calculators, yield projection tools,
        and applications that need to incorporate Solana's inflation model into revenue forecasts
        or token supply projections.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getInflationRate"
                  example: "getInflationRate"
                  default: "getInflationRate"
            example:  
              jsonrpc: "2.0"
              id: "1"
              method: "getInflationRate"
      responses:
        200:
          description: Successfully retrieved inflation rate information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Detailed breakdown of current Solana tokenomics inflation metrics.
                    properties:
                      total:
                        type: number
                        format: float
                        description: Current total annual inflation rate across the entire Solana network (decimal format, e.g., 0.08 = 8%).
                        example: 0.149
                      validator:
                        type: number
                        format: float
                        description: Portion of inflation allocated to validator staking rewards distributed to validators and delegators.
                        example: 0.148
                      foundation:
                        type: number
                        format: float
                        description: Portion of inflation allocated to the Solana Foundation for ongoing development and ecosystem growth.
                        example: 0.001
                      epoch:
                        type: integer
                        description: Specific Solana epoch number for which these inflation rate metrics apply.
                        example: 100
        400:
          description: Bad Request - Invalid request parameters or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        401:
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        429:
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        500:
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
        503:
          description: Service Unavailable - The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "Service unavailable"
                id: "1"
        504:
          description: Gateway Timeout - The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "Gateway timeout"
                id: "1"
