openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getIdentity
      operationId: getIdentity
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getIdentity"
                  example: "getIdentity"
                  default: "getIdentity"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getIdentity"
      responses:
        200:
          description: Successfully retrieved the identity of the node.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Identity of the node.
                    properties:
                      identity:
                        type: string
                        description: The identity pubkey of the current node (as a base-58 encoded string).
                        example: "2r1F4iWqVcb8M1DbAjQuFpebkQHY9hcVU4WuW2DJBppN"
              examples:
                response:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result:
                      identity: "2r1F4iWqVcb8M1DbAjQuFpebkQHY9hcVU4WuW2DJBppN"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
