openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Economic policy API for retrieving the core Solana inflation model parameters that govern token issuance, including initial rate, terminal rate, and decay schedule.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: The JSON-RPC protocol version.
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: The error code.
              example: -32602
            message:
              type: string
              description: The error message.
            data:
              type: object
              description: Additional data about the error.
        id:
          type: string
          description: Identifier matching the request.
          example: "1"
paths:
  /:
    post:
      tags:
        - RPC
      summary: getInflationGovernor
      operationId: getInflationGovernor
      description: |
        Retrieve the fundamental parameters that control Solana's long-term monetary policy.
        This economic design API provides detailed information about the blockchain's inflation 
        model configuration, including initial and terminal inflation rates, disinflationary taper 
        rate, and foundation allocation details. Solana uses a disinflationary token issuance 
        model where inflation gradually decreases from an initial higher rate to a long-term 
        sustainable lower rate. Essential for economic researchers, tokenomics analysts, long-term 
        investors, and applications modeling future token supply, staking rewards projections, 
        or forecasting Solana's monetary policy trajectory over extended timeframes.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getInflationGovernor"
                  example: "getInflationGovernor"
                  default: "getInflationGovernor"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getInflationGovernor"
      responses:
        200:
          description: Successfully retrieved inflation governor information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Comprehensive parameters defining Solana's long-term monetary policy and inflation model.
                    properties:
                      initial:
                        type: number
                        format: float
                        description: Starting annual inflation rate at the beginning of Solana's mainnet (decimal format, e.g., 0.08 = 8%).
                        example: 0.15
                      terminal:
                        type: number
                        format: float
                        description: Long-term sustainable inflation rate that the system will eventually reach and maintain indefinitely.
                        example: 0.015
                      taper:
                        type: number
                        format: float
                        description: Annual rate at which inflation decreases from initial to terminal rate (disinflationary schedule speed).
                        example: 0.15
                      foundation:
                        type: number
                        format: float
                        description: Percentage of total inflation allocated to the Solana Foundation for ecosystem development.
                        example: 0.05
                      foundationTerm:
                        type: number
                        format: float
                        description: Duration in years for which the foundation receives an allocation from inflation.
                        example: 7
              example:
                jsonrpc: "2.0"
                id: "1"
                result:
                  initial: 0.15
                  terminal: 0.015
                  taper: 0.15
                  foundation: 0.05
                  foundationTerm: 7
        400:
          description: Bad Request - Invalid request parameters or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        401:
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        429:
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        500:
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
        503:
          description: Service Unavailable - The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "Service unavailable"
                id: "1"
        504:
          description: Gateway Timeout - The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "Gateway timeout"
                id: "1"
