openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Validator scheduling API for retrieving the complete Solana leader rotation sequence that determines which validators produce blocks during specific slots of an epoch.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getLeaderSchedule
      operationId: getLeaderSchedule
      description: |
        Retrieve the complete validator rotation schedule for an entire Solana epoch.
        This consensus API provides the detailed mapping of which validator nodes are assigned 
        as slot leaders throughout an epoch, showing exactly which slots each validator is
        responsible for producing blocks. The leader schedule is deterministically derived
        using a verifiable random function based on stake-weighted selection. Essential for 
        validator operators monitoring their upcoming block production responsibilities,
        staking applications analyzing validator participation opportunities, network 
        monitoring tools visualizing consensus patterns, and applications that need to
        predict or analyze block production timing and distribution across the network.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getLeaderSchedule"
                  example: "getLeaderSchedule"
                  default: "getLeaderSchedule"
                params:
                  type: array
                  description: Parameters for the method.
                  items:
                    oneOf:
                      - type: integer
                        description: Epoch or slot number to retrieve the leader schedule for. If omitted, returns the schedule for the current epoch.
                        example: null
                      - type: object
                        description: Configuration object with additional options.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
                          identity:
                            type: string
                            description: Optional validator identity public key to filter results for a specific validator's schedule only.
                            example: "4Qkev8aNZcqFNSRhQzwyLMFSsi94jHqE8WNVTJzTP99F"
      responses:
        200:
          description: Successfully retrieved the leader schedule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    oneOf:
                      - type: "null"
                        description: Null if the requested epoch is not found.
                      - type: object
                        description: Mapping of validator identities to their assigned leader slots within this epoch.
                        additionalProperties:
                          type: array
                          description: Array of slot indices within the epoch where this validator is scheduled to produce blocks.
                          items:
                            type: integer
                            example: 0
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
