openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getLargestAccounts
      operationId: getLargestAccounts
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getLargestAccounts"
                  example: "getLargestAccounts"
                  default: "getLargestAccounts"
                params:
                  type: array
                  description: Optional configuration object for filtering accounts.
                  default: []
                  items:
                    type: object
                    properties:
                      commitment:
                        type: string
                        description: The commitment level for the request.
                        enum:
                          - confirmed
                          - finalized
                        example: finalized
                      filter:
                        type: string
                        description: Filter results by account type.
                        enum:
                          - circulating
                          - nonCirculating
                        example: circulating
      responses:
        200:
          description: Successfully retrieved the largest accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: List of the largest accounts and their balances.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          slot:
                            type: integer
                            description: The slot at which the data was fetched.
                            example: 54
                      value:
                        type: array
                        description: Array of account information.
                        items:
                          type: object
                          properties:
                            lamports:
                              type: integer
                              description: Number of lamports in the account.
                              example: 999974
                            address:
                              type: string
                              description: Base-58 encoded address of the account.
                              example: "99P8ZgtJYe1buSK8JXkvpLh8xPsCFuLYhz9hQFNw93WJ"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
