openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Validator synchronization API for retrieving the highest slot where a Solana node is processing incoming blockchain data fragments for network consensus.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getMaxShredInsertSlot
      operationId: getMaxShredInsertSlot
      description: |
        Retrieve the highest slot number where this Solana validator node is actively accepting data shreds.
        This low-level network API provides insight into the blockchain's internal data propagation mechanism,
        returning the maximum slot for which the node is currently processing incoming blockchain fragments.
        Shreds are the fundamental data units that validators exchange to construct complete Solana blocks.
        This diagnostic endpoint is primarily useful for validator operators, network monitoring tools,
        and advanced applications that need to monitor validator synchronization status and blockchain
        propagation efficiency at the data transport layer.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getMaxShredInsertSlot"
                  example: "getMaxShredInsertSlot"
                  default: "getMaxShredInsertSlot"
      responses:
        200:
          description: Successfully retrieved the maximum shred insert slot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: integer
                    description: Highest Solana slot number where this validator is currently accepting incoming data shreds (blockchain fragments).
                    example: 1234
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
