openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Network performance analytics API for monitoring Solana blockchain throughput, transaction processing rates, and real-time health metrics across recent time periods.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getRecentPerformanceSamples
      operationId: getRecentPerformanceSamples
      description: |
        Retrieve detailed performance metrics about the Solana blockchain's recent operational efficiency.
        This network analytics API provides time-series data showing transaction throughput, slot production,
        and voting activity across regular sampling intervals. Essential for monitoring network health,
        analyzing blockchain capacity, tracking performance trends, and verifying network reliability.
        The metrics offer insights into both the overall transaction volume and specifically non-voting
        transactions, helping differentiate between consensus overhead and actual user operations on the network.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getRecentPerformanceSamples"
                  example: "getRecentPerformanceSamples"
                  default: "getRecentPerformanceSamples"
                params:
                  type: array
                  description: Optional parameter to limit the number of samples to return.
                  default: [4]
                  items:
                    type: integer
                    description: Number of historical performance sample intervals to retrieve (maximum 720, representing up to 12 hours).
                    example: 4
      responses:
        200:
          description: Successfully retrieved performance samples.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: array
                    description: List of performance samples.
                    items:
                      type: object
                      description: Performance sample data.
                      properties:
                        slot:
                          type: integer
                          description: Solana blockchain slot at the end of this performance sampling period.
                          example: 348125
                        numTransactions:
                          type: integer
                          description: Total number of transactions processed during this sampling window, including both user transactions and validator votes.
                          example: 126
                        numNonVoteTransactions:
                          type: integer
                          description: Number of actual user transactions (excluding validator consensus votes) processed in this period.
                          example: 1
                        samplePeriodSecs:
                          type: integer
                          format: int16
                          description: Duration of this performance measurement window in seconds, typically 60-second intervals.
                          example: 60
                        numSlots:
                          type: integer
                          description: Number of Solana slots successfully produced during this sampling period, indicating blockchain progress.
                          example: 126
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
