openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Validator scheduling API for identifying which Solana validator is responsible for producing blocks in a specific slot of the blockchain.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        id:
          type: string
paths:
  /:
    post:
      tags:
        - RPC
      summary: getSlotLeader
      operationId: getSlotLeader
      description: |
        Identify the specific Solana validator assigned to produce blocks for the current or future slot.
        This consensus coordination API returns the validator identity (public key) that has been
        scheduled as the leader for a particular slot in the blockchain. Essential for network
        monitoring tools, validator performance analysis, block production tracking, and applications
        that need to understand the current leader schedule. The slot leader information is determined
        by Solana's proof-of-stake leader selection algorithm based on stake weight and randomness.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "getSlotLeader"
                  description: The name of the RPC method to invoke.
                  example: "getSlotLeader"
                  default: "getSlotLeader"
                params:
                  type: array
                  description: Optional configuration object.
                  items:
                    type: object
                    properties:
                      commitment:
                        type: string
                        description: The commitment level for the request.
                        enum:
                          - confirmed
                          - finalized
                          - processed
                        example: finalized
                      minContextSlot:
                        type: integer
                        description: The minimum slot that the request can be evaluated at.
                        example: 1000
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getSlotLeader"
              params:
                - commitment: "finalized"
      responses:
        200:
          description: Successfully retrieved the slot leader.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: string
                    description: The Solana validator identity (public key) scheduled as block producer for this slot.
                    example: "ENvAW7JScgYq6o4zKZwewtkzzJgDzuJAFxYasvmEQdpS"
              example:
                jsonrpc: "2.0"
                id: "1"
                result: "ENvAW7JScgYq6o4zKZwewtkzzJgDzuJAFxYasvmEQdpS"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
