openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Staking requirements API for retrieving the minimum SOL delegation threshold needed to participate in Solana's proof-of-stake network and earn rewards.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getStakeMinimumDelegation
      operationId: getStakeMinimumDelegation
      description: |
        Retrieve the minimum SOL delegation amount required for active participation in Solana staking.
        This essential staking API provides the current threshold amount necessary to create valid stake
        accounts and delegate to validators on the Solana network. The minimum delegation requirement
        is a key economic parameter that helps prevent stake account fragmentation and ensures efficiency
        in the validator voting process. Critical for staking applications, wallet integrations, validator
        dashboards, and any service offering delegation features to Solana users.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "getStakeMinimumDelegation"
                  description: The name of the RPC method to invoke.
                  example: "getStakeMinimumDelegation"
                  default: "getStakeMinimumDelegation"
                params:
                  type: array
                  description: Optional configuration object.
                  items:
                    type: object
                    properties:
                      commitment:
                        type: string
                        description: The commitment level for the request.
                        enum:
                          - confirmed
                          - finalized
                          - processed
                        example: finalized
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getStakeMinimumDelegation"
              params:
                - commitment: "finalized"
      responses:
        200:
          description: Successfully retrieved the stake minimum delegation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Context and minimum delegation value.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          slot:
                            type: integer
                            description: Slot in which the data was fetched.
                            example: 501
                      value:
                        type: integer
                        description: The minimum SOL amount (in lamports) required to create an active stake delegation on the Solana network.
                        example: 1000000000
              examples:
                success:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result:
                      context:
                        slot: 501
                      value: 1000000000
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
