openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  examples:
    getTokenAccountBalanceRequest:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getTokenAccountBalance"
        params:
          - "3emsAVdmGKERbHjmGfQ6oZ1e35dkf5iYcS6U4CPKFVaa"
    getTokenAccountBalanceResponse:
      value:
        jsonrpc: "2.0"
        id: "1"
        result:
          context:
            slot: 1114
          value:
            amount: "9864"
            decimals: 2
            uiAmount: 98.64
            uiAmountString: "98.64"
paths:
  /:
    post:
      tags:
        - RPC
      summary: getTokenAccountBalance
      operationId: getTokenAccountBalance
      description: Returns the balance of a given token account.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "getTokenAccountBalance"
                  description: The name of the RPC method to invoke.
                  example: "getTokenAccountBalance"
                  default: "getTokenAccountBalance"
                params:
                  type: array
                  description: Parameters for querying the token account balance.
                  default: ["3emsAVdmGKERbHjmGfQ6oZ1e35dkf5iYcS6U4CPKFVaa"]
                  items:
                    oneOf:
                      - type: string
                        description: Pubkey of the token account to query, as a base-58 encoded string.
                        example: "3emsAVdmGKERbHjmGfQ6oZ1e35dkf5iYcS6U4CPKFVaa"
                      - type: object
                        description: Configuration options.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
            examples:
              default:
                $ref: '#/components/examples/getTokenAccountBalanceRequest'
      responses:
        200:
          description: Successfully retrieved the token account balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Context and token account balance details.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          slot:
                            type: integer
                            description: Slot in which the data was fetched.
                            example: 1114
                      value:
                        type: object
                        description: Token account balance details.
                        properties:
                          amount:
                            type: string
                            description: The raw balance without decimals, as a string representation of u64.
                            example: "9864"
                          decimals:
                            type: integer
                            description: Number of base 10 digits to the right of the decimal place.
                            example: 2
                          uiAmount:
                            type: number
                            description: The balance, using mint-prescribed decimals (deprecated). Can be null.
                            example: 98.64
                          uiAmountString:
                            type: string
                            description: The balance as a string, using mint-prescribed decimals.
                            example: "98.64"
              examples:
                default:
                  $ref: '#/components/examples/getTokenAccountBalanceResponse'
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
