openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Tokenomics analytics API for retrieving current circulation and total supply metrics for any SPL token or fungible asset on the Solana blockchain.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        id:
          type: string
paths:
  /:
    post:
      tags:
        - RPC
      summary: getTokenSupply
      operationId: getTokenSupply
      description: |
        Retrieve comprehensive token supply metrics for any SPL token on the Solana blockchain.
        This essential tokenomics API provides accurate and real-time data on token circulating
        supply, total mint amount, and decimal configuration. Critical for token analytics dashboards,
        DeFi applications, market cap calculations, protocol metrics, and trading platforms that need
        reliable token supply information. Supports all SPL token types including fungible tokens and
        community tokens with proper decimal formatting for accurate display.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "getTokenSupply"
                  description: The name of the RPC method to invoke.
                  example: "getTokenSupply"
                  default: "getTokenSupply"
                params:
                  type: array
                  description: Parameters for querying the token supply.
                  default: ["7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"]
                  items:
                    oneOf:
                      - type: string
                        description: Solana token mint address to retrieve supply metrics for (SPL token's unique identifier).
                        example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
                      - type: object
                        description: Configuration object.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
            examples:
              requestExample:
                value:
                  jsonrpc: "2.0"
                  id: "1"
                  method: "getTokenSupply"
                  params:
                    - "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
      responses:
        200:
          description: Successfully retrieved the token supply.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Context and token supply details.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          slot:
                            type: integer
                            description: Slot in which the data was fetched.
                            example: 1114
                      value:
                        type: object
                        description: Token supply details.
                        properties:
                          amount:
                            type: string
                            description: The raw total Solana token supply as a precise integer string without decimal formatting.
                            example: "100000"
                          decimals:
                            type: integer
                            description: Number of decimal places defined by the token for accurate supply representation.
                            example: 2
                          uiAmount:
                            type: number
                            description: The human-readable token supply with proper decimal formatting (deprecated).
                            example: 1000
                          uiAmountString:
                            type: string
                            description: The canonical string representation of the total token supply with correct decimal places.
                            example: "1000"
              examples:
                responseExample:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result:
                      context:
                        slot: 1114
                      value:
                        amount: "100000"
                        decimals: 2
                        uiAmount: 1000
                        uiAmountString: "1000"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
