openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Transaction volume metrics API for tracking Solana blockchain network activity and total processed operations since genesis.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  examples:
    requestExample:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getTransactionCount"
        params:
          - commitment: "finalized"
    responseExample:
      value:
        jsonrpc: "2.0"
        id: "1"
        result: 268
paths:
  /:
    post:
      tags:
        - RPC
      summary: getTransactionCount
      operationId: getTransactionCount
      description: |
        Retrieve the total transaction count processed by the Solana blockchain since genesis.
        This network activity metric provides insights into blockchain throughput and historical
        volume, tracking the cumulative number of transactions successfully processed across
        the network's entire history. Essential for blockchain analytics, network monitoring
        dashboards, throughput analysis, and applications tracking Solana's growth over time.
        Results can be queried at different commitment levels for varying degrees of finality.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "getTransactionCount"
                  description: The name of the RPC method to invoke.
                  example: "getTransactionCount"
                  default: "getTransactionCount"
                params:
                  type: array
                  description: Optional configuration object.
                  items:
                    type: object
                    description: Configuration options for the request.
                    properties:
                      commitment:
                        type: string
                        description: The finality level at which to measure the transaction count (processed = recent, finalized = confirmed).
                        enum:
                          - confirmed
                          - finalized
                          - processed
                        example: finalized
                      minContextSlot:
                        type: integer
                        description: The minimum slot that the request can be evaluated at.
                        example: 1000
            examples:
              sampleRequest:
                $ref: '#/components/examples/requestExample'
      responses:
        200:
          description: Successfully retrieved the transaction count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: integer
                    description: Total number of transactions processed by the Solana blockchain since network inception.
                    example: 268
              examples:
                sampleResponse:
                  $ref: '#/components/examples/responseExample'
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
