openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: JITO Bundle Simulation API for testing and validating bundle execution before submission to the Solana network via JITO validators.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: The JSON-RPC protocol version.
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: The error code.
              example: -32602
            message:
              type: string
              description: The error message.
            data:
              type: object
              description: Additional data about the error.
        id:
          type: string
          description: Identifier matching the request.
          example: "1"
paths:
  /:
    post:
      tags:
        - RPC
      summary: simulateBundle
      operationId: simulateBundle
      description: |
        Simulate a JITO bundle without executing it on the blockchain. This method allows developers
        to test bundle execution, verify transaction behavior within bundles, estimate compute unit
        consumption, detect errors, and preview account state changes before and after bundle execution.
        Exclusively available for JITO-Solana validators and essential for MEV strategy development
        and bundle optimization.
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - "simulateBundle"
                  description: The name of the RPC method to invoke.
                  example: "simulateBundle"
                  default: "simulateBundle"
                params:
                  type: array
                  description: Parameters for simulating a JITO bundle.
                  items:
                    oneOf:
                      - type: object
                        description: Bundle simulation configuration object.
                        required:
                          - encodedTransactions
                        properties:
                          encodedTransactions:
                            type: array
                            description: Array of one or more base64-encoded, serialized transactions for simulation.
                            items:
                              type: string
                              description: Base64-encoded serialized transaction.
                              example: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw3YrGCzYAMHBsgN27lcgB6H2WQvFgyZuJYHa46puOQo9yQ8CVQbd9uHXZaGT2cvhRs7reawctIXtX1s3kTqM9YV+/wCp20C7Wj2aiuk5TReAXo+VTVg8QTHjs0UjNMMKCvpzZ+ABAgEBARU="
                          simulationBank:
                            type: string
                            description: Optional bank to run the simulation against.
                            example: "SimulationBank123"
                          skipSigVerify:
                            type: boolean
                            description: Whether to skip signature verification before simulation. skipSigVerify and replaceRecentBlockhash must be included in the payload for this parameter to work properly.
                            example: false
                          replaceRecentBlockhash:
                            type: boolean
                            description: Whether to replace the simulated transaction's recent blockhash with the latest blockhash. skipSigVerify and replaceRecentBlockhash must be included in the payload for this parameter to work properly.
                            example: false
                          accounts:
                            type: object
                            description: The accounts configuration object.
                            properties:
                              addresses:
                                type: array
                                description: Array of accounts to return, as base-58 encoded strings.
                                items:
                                  type: string
                                  example: "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                              encoding:
                                type: string
                                description: The encoding format for account data. It can be one of base58 (slow), base64, base64+zstd or jsonParsed.
                                enum:
                                  - base58
                                  - base64
                                  - base64+zstd
                                  - jsonParsed
                                example: base64
                          preExecutionAccountsConfigs:
                            type: array
                            description: Specifies account state configuration before execution. Each entry corresponds to a transaction in encodedTransactions.
                            items:
                              type: ["object", "null"]
                              description: Configuration for a specific transaction, or null.
                              properties:
                                accountIndex:
                                  type: integer
                                  description: The index of the account in the transaction you want to pre-configure.
                                  example: 0
                                addresses:
                                  type: array
                                  description: A list of account addresses to monitor before execution.
                                  items:
                                    type: string
                                    example: "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                          postExecutionAccountsConfigs:
                            type: array
                            description: Specifies account state configuration after execution. Each entry corresponds to a transaction in encodedTransactions.
                            items:
                              type: ["object", "null"]
                              description: Configuration for a specific transaction, or null.
                              properties:
                                accountIndex:
                                  type: integer
                                  description: The index of the account in the transaction you want to configure.
                                  example: 0
                                addresses:
                                  type: array
                                  description: A list of account addresses to monitor after execution.
                                  items:
                                    type: string
                                    example: "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "simulateBundle"
              params:
                - encodedTransactions:
                    - "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw3YrGCzYAMHBsgN27lcgB6H2WQvFgyZuJYHa46puOQo9yQ8CVQbd9uHXZaGT2cvhRs7reawctIXtX1s3kTqM9YV+/wCp20C7Wj2aiuk5TReAXo+VTVg8QTHjs0UjNMMKCvpzZ+ABAgEBARU="
                  simulationBank: "SimulationBank123"
                  skipSigVerify: false
                  replaceRecentBlockhash: false
                  accounts:
                    addresses:
                      - "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                    encoding: "base64"
                  preExecutionAccountsConfigs:
                    - accountIndex: 0
                      addresses:
                        - "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  postExecutionAccountsConfigs:
                    - accountIndex: 0
                      addresses:
                        - "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
      responses:
        200:
          description: Successfully simulated the bundle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Result of the simulated bundle. Null if the account doesn't exist otherwise RpcResponse JSON object.
                    properties:
                      context:
                        type: object
                        description: An object that contains metadata about the current state of the Solana network at the time the request was processed.
                        properties:
                          apiVersion:
                            type: string
                            description: The version number.
                            example: "1.17.0"
                          slot:
                            type: integer
                            description: The current slot in the Solana cluster during which the transactions are processed and new blocks are added to the blockchain.
                            example: 245678901
                      err:
                        type: ["string", "null"]
                        description: Error code if the transaction failed or null if the transaction succeeds.
                        example: null
                      logs:
                        type: ["array", "null"]
                        description: An array of log messages the transaction instructions output during execution, null if simulation failed before the transaction was able to execute (for example due to an invalid blockhash or signature verification failure).
                        items:
                          type: string
                          example: "Program 11111111111111111111111111111111 invoke [1]"
                      preExecutionAccounts:
                        type: ["array", "null"]
                        description: A list of accounts to return the pre transaction execution state for. The length of the array must be equal to the number transactions in the bundle.
                        items:
                          type: ["object", "null"]
                          description: Returns null if the account doesn't exist or if err is not null, otherwise, a JSON object containing account details.
                          properties:
                            lamports:
                              type: integer
                              description: The number of lamports assigned to this account as u64 (64-bit unsigned integer).
                              example: 5000000000
                            owner:
                              type: string
                              description: The base-58 encoded Pubkey of the program this account has been assigned to.
                              example: "11111111111111111111111111111111"
                            data:
                              type: string
                              description: The data associated with the account, either as encoded binary data or JSON format {'program': 'state'}, depending on encoding parameter.
                              example: ""
                            executable:
                              type: boolean
                              description: A boolean indicating if the account contains a program (and is strictly read-only).
                              example: false
                            rentEpoch:
                              type: integer
                              description: The epoch at which this account will next owe rent, as u64 (64-bit unsigned integer).
                              example: 372
                      postExecutionAccounts:
                        type: ["array", "null"]
                        description: A list of accounts to return the post transaction execution state for. The length of the array must be equal to the number transactions in the bundle.
                        items:
                          type: ["object", "null"]
                          description: Returns null if the account doesn't exist or if err is not null, otherwise, a JSON object containing account details.
                          properties:
                            lamports:
                              type: integer
                              description: The number of lamports assigned to this account as u64 (64-bit unsigned integer).
                              example: 4998000000
                            owner:
                              type: string
                              description: The base-58 encoded Pubkey of the program this account has been assigned to.
                              example: "11111111111111111111111111111111"
                            data:
                              type: string
                              description: The data associated with the account, either as encoded binary data or JSON format {'program': 'state'}, depending on encoding parameter.
                              example: ""
                            executable:
                              type: boolean
                              description: A boolean indicating if the account contains a program (and is strictly read-only).
                              example: false
                            rentEpoch:
                              type: integer
                              description: The epoch at which this account will next owe rent, as u64 (64-bit unsigned integer).
                              example: 372
                      unitsConsumed:
                        type: integer
                        description: The number of compute budget units consumed during the processing of this transaction.
                        example: 150000
                      returnData:
                        type: ["object", "null"]
                        description: The most-recent return data generated by an instruction in the transaction.
                        properties:
                          programId:
                            type: string
                            description: The program that generated the return data, as base-58 encoded Pubkey.
                            example: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                          data:
                            type: string
                            description: The return data itself, as base-64 encoded binary data.
                            example: "BQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASjD8="
              example:
                jsonrpc: "2.0"
                id: "1"
                result:
                  context:
                    apiVersion: "1.17.0"
                    slot: 245678901
                  err: null
                  logs:
                    - "Program 11111111111111111111111111111111 invoke [1]"
                    - "Program 11111111111111111111111111111111 success"
                    - "Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [1]"
                    - "Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA success"
                  preExecutionAccounts:
                    - lamports: 5000000000
                      owner: "11111111111111111111111111111111"
                      data: ""
                      executable: false
                      rentEpoch: 372
                  postExecutionAccounts:
                    - lamports: 4998000000
                      owner: "11111111111111111111111111111111"
                      data: ""
                      executable: false
                      rentEpoch: 372
                  unitsConsumed: 150000
                  returnData:
                    programId: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                    data: "BQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASjD8="
        400:
          description: Bad Request - Invalid request parameters or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        401:
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        429:
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                id: "1"
        500:
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "Internal error"
                id: "1"
        503:
          description: Service Unavailable - The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "Service unavailable"
                id: "1"
        504:
          description: Gateway Timeout - The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "Gateway timeout"
                id: "1" 