openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
    
paths:
  /:
    post:
      tags:
        - RPC
      summary: getBlockCommitment
      operationId: getBlockCommitment 
      description: Returns commitment information for a specific block
      parameters:
        - name: api-key
          in: query
          required: true
          schema:
            type: string
          description: Your API key
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  default: "2.0"
                  description: The JSON-RPC protocol version.
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "123"
                  default: "123"
                method:
                  type: string
                  enum: ["getBlockCommitment"]
                  description: The name of the RPC method to invoke.
                  default: "getBlockCommitment"
                params:
                  type: array
                  description: Parameters for the request.
                  default: [5]
                  items:
                    type: integer
                    description: Block number identified by Slot (as `u64` integer).
                    example: 5
      responses:
        200:
          description: Successfully retrieved block commitment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  result:
                    type: object
                    properties:
                      commitment:
                        oneOf:
                          - type: "null"
                            description: Returns `null` if the block is unknown.
                          - type: array
                            description: Array of `u64` integers logging the amount of cluster stake in lamports that has voted on the block at each depth.
                            items:
                              type: integer
                            example: [0, 0, 0, 0, 0, 10, 32]
                      totalStake:
                        type: integer
                        description: Total active stake, in lamports, of the current epoch.
                        example: 42
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
