openapi: "3.1.0"
info:
  title: "Solana RPC API"
  version: "1.0.0"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网 RPC 端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网 RPC 端点"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          enum:
            - "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
            message:
              type: "string"
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: "getBlockHeight"
      operationId: "getBlockHeight"
      description: "返回当前区块高度。"
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
                - "params"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                  description: "JSON-RPC 协议版本。"
                  default: "2.0"
                id:
                  type: "string"
                  description: "请求的唯一标识符。"
                  example: "1"
                  default: "1"
                method:
                  type: "string"
                  enum:
                    - "getBlockHeight"
                  description: "要调用的 RPC 方法名称。"
                  default: "getBlockHeight"
                params:
                  type: "array"
                  description: "请求的参数。"
                  items:
                    type: "object"
                    description: "请求的配置选项。"
                    properties:
                      commitment:
                        type: "string"
                        description: "请求的承诺级别。"
                        enum:
                          - "processed"
                          - "confirmed"
                          - "finalized"
                        example: "finalized"
                      minContextSlot:
                        type: "integer"
                        description: "请求可以被评估的最小槽位。"
                        example: 1
      responses:
        "200":
          description: "成功检索当前区块高度。"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    type: "string"
                  result:
                    type: "integer"
                    description: "当前区块高度为 `u64`。"
                    example: 1233
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "参数无效"
                id: "1"
        "401":
          description: "未授权 - API 密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "未授权"
                id: "1"
        "429":
          description: "请求过多 - 超过速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
