openapi: "3.1.0"
info:
  title: "Solana RPC API"
  version: "1.0.0"
  description: "用于检索Solana纪元调度参数的区块链时间结构API，这些参数管理共识周期、验证者轮换周期和网络时间组织。"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网RPC端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网RPC端点"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的Helius API密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: "getEpochSchedule"
      operationId: "getEpochSchedule"
      description: "检索定义 Solana 基于 epoch 的区块链结构的核心时间参数。此网络配置 API 提供了管理 Solana 区块链上插槽如何组织成 epoch 的基本时间常量。Epoch 代表验证器轮换、质押奖励、租金收集和其他定期区块链操作的主要时间测量单位。Epoch 计划参数精确定义了构成一个 epoch 的插槽数量以及何时计算领导者计划。对于执行基于时间的计算的应用程序、跟踪奖励周期的质押系统、预测领导者计划的验证器软件以及将区块链事件与网络基本时间结构相关联的分析工具来说，这些都是必不可少的。"
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议版本。"
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "请求的唯一标识符。"
                  example: "1"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的 RPC 方法名称。"
                  enum:
                    - "getEpochSchedule"
                  example: "getEpochSchedule"
                  default: "getEpochSchedule"
            examples:
              request:
                value:
                  jsonrpc: "2.0"
                  id: "1"
                  method: "getEpochSchedule"
      responses:
        "200":
          description: "成功检索到 epoch 计划信息。"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jsonrpc:
                    type: "string"
                    description: "JSON-RPC 协议版本。"
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: "string"
                    description: "与请求匹配的标识符。"
                    example: "1"
                  result:
                    type: "object"
                    description: "定义 Solana 区块链纪元结构的综合时间常数。"
                    properties:
                      slotsPerEpoch:
                        type: "integer"
                        description: "在正常操作期间（热身期后）构成完整 Solana 纪元的插槽数量。"
                        example: 8192
                      leaderScheduleSlotOffset:
                        type: "integer"
                        description: "在纪元之前的偏移量，当时计算并发布下一个纪元的验证者领导计划。"
                        example: 8192
                      warmup:
                        type: "boolean"
                        description: "布尔值，指示网络是否在创世时使用逐渐增加纪元长度的热身期。"
                        example: true
                      firstNormalEpoch:
                        type: "integer"
                        description: "达到由 slotsPerEpoch 定义的完整标准长度的第一个纪元编号。"
                        example: 8
                      firstNormalSlot:
                        type: "integer"
                        description: "在初始热身期后，纪元开始其标准长度时的绝对插槽编号。"
                        example: 8160
              examples:
                response:
                  value:
                    jsonrpc: "2.0"
                    id: "1"
                    result:
                      slotsPerEpoch: 8192
                      leaderScheduleSlotOffset: 8192
                      warmup: true
                      firstNormalEpoch: 8
                      firstNormalSlot: 8160
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
        "401":
          description: "未授权 - API 密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
        "429":
          description: "请求过多 - 超出速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
