openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: 用于检索独特创世哈希的网络识别API，该哈希作为特定Solana区块链网络（主网、测试网或开发网）的加密标识符。
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: 主网RPC端点
  - url: https://devnet.helius-rpc.com
    description: 开发网RPC端点
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: 您的Helius API密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: JSON-RPC协议版本。
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: 错误代码。
              example: -32602
            message:
              type: string
              description: 错误信息。
            data:
              type: object
              description: 关于错误的附加数据。
        id:
          type: string
          description: 与请求匹配的标识符。
          example: "1"
paths:
  /:
    post:
      tags:
        - RPC
      summary: getGenesisHash
      operationId: getGenesisHash
      description: 检索您所连接的Solana区块链网络的唯一加密标识符。此网络验证API返回创世哈希——从区块链的第一个区块创建的独特指纹，用于唯一标识您是否连接到Solana主网、测试网、开发网或自定义集群。创世哈希作为特定网络的基本链标识符，永远不会改变。对于需要在执行交易前验证其连接到预期Solana网络的应用程序、必须区分不同Solana环境的跨链服务以及构建网络感知功能的框架来说，这是必不可少的。
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: JSON-RPC协议版本。
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: 请求的唯一标识符。
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: 要调用的RPC方法名称。
                  enum:
                    - getGenesisHash
                  example: getGenesisHash
                  default: getGenesisHash
            example:
              jsonrpc: "2.0"
              id: "1"
              method: getGenesisHash
      responses:
        "200":
          description: 成功检索到创世哈希。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: JSON-RPC协议版本。
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: 与请求匹配的标识符。
                    example: "1"
                  result:
                    type: string
                    description: 唯一的创世哈希（base-58 编码），用于加密识别此特定的 Solana 区块链网络（在主网、测试网、开发网中不同）。
                    example: GH7ome3EiwEr7tu9JuTh2dpYWBJK3z69Xm1ZE3MEE6JC
        "400":
          description: 错误请求 - 请求参数无效或请求格式错误。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: Invalid params
        "401":
          description: 未授权 - API 密钥无效或缺失。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: Unauthorized
                id: "1"
        "429":
          description: 请求过多 - 超出速率限制。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: Too many requests
                id: "1"
        "500":
          description: 内部服务器错误 - 服务器发生错误。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: Internal error
                id: "1"
        "503":
          description: 服务不可用 - 服务暂时不可用。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: Service unavailable
                id: "1"
        "504":
          description: 网关超时 - 请求超时。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: 网关超时
                id: "1"
      x-examples:
        request:
          value:
            jsonrpc: "2.0"
            id: "1"
            method: getGenesisHash
        response:
          value:
            jsonrpc: "2.0"
            id: "1"
            result: GH7ome3EiwEr7tu9JuTh2dpYWBJK3z69Xm1ZE3MEE6JC
