openapi: "3.1.0"
info:
  title: "Solana RPC API"
  version: "1.0.0"
  description: "用于检索当前Solana通胀指标的代币经济学API，包括总发行率和在验证者及基金会之间的分配。"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网RPC端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网RPC端点"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的Helius API密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
  examples:
    getInflationRateRequest:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getInflationRate"
    getInflationRateResponse:
      value:
        jsonrpc: "2.0"
        id: "1"
        result:
          total: 0.149
          validator: 0.148
          foundation: 0.001
          epoch: 100
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: "getInflationRate"
      operationId: "getInflationRate"
      description: "检索当前 Solana 网络的通货膨胀率及其分配情况。此代币经济学 API 提供有关区块链货币政策的详细信息，显示当前的年通货膨胀率以及新创建的 SOL 代币如何在验证者（作为质押奖励）和 Solana 基金会之间分配。Solana 采用去通胀的货币政策，通货膨胀率会从初始值逐渐下降，直到达到长期稳定率。对于金融分析师、经济研究人员、质押计算器、收益预测工具以及需要将 Solana 的通货膨胀模型纳入收入预测或代币供应预测的应用程序来说，这些信息至关重要。"
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议版本。"
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "请求的唯一标识符。"
                  example: "1"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的 RPC 方法名称。"
                  enum:
                    - "getInflationRate"
                  example: "getInflationRate"
                  default: "getInflationRate"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getInflationRate"
      responses:
        "200":
          description: "成功检索到通货膨胀率信息。"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jsonrpc:
                    type: "string"
                    description: "JSON-RPC 协议版本。"
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: "string"
                    description: "与请求匹配的标识符。"
                    example: "1"
                  result:
                    type: "object"
                    description: "当前 Solana 代币经济通胀指标的详细细分。"
                    properties:
                      total:
                        type: "number"
                        format: "float"
                        description: "整个 Solana 网络当前的年度总通胀率（十进制格式，例如，0.08 = 8%）。"
                        example: 0.149
                      validator:
                        type: "number"
                        format: "float"
                        description: "分配给验证者质押奖励的通胀部分，分发给验证者和委托者。"
                        example: 0.148
                      foundation:
                        type: "number"
                        format: "float"
                        description: "分配给 Solana 基金会的通胀部分，用于持续开发和生态系统增长。"
                        example: 0.001
                      epoch:
                        type: "integer"
                        description: "这些通胀率指标适用的特定 Solana 纪元编号。"
                        example: 100
        "400":
          description: "错误请求 - 无效的请求参数或格式错误的请求。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "无效的参数"
                id: "1"
        "401":
          description: "未授权 - 无效或缺失的 API 密钥。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "未授权"
                id: "1"
        "429":
          description: "请求过多 - 超出速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
