openapi: "3.1.0"
info:
  title: "Solana RPC API"
  version: "1.0.0"
  description: "财富分配分析API，用于识别和监控Solana区块链上最大的SOL持有者，并提供流通和储备账户的过滤选项。"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网RPC端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网RPC端点"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的Helius API密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: "getLargestAccounts"
      operationId: "getLargestAccounts"
      description: "检索 Solana 区块链上最大 SOL 持有者的排名列表。此财富分析 API 通过识别持有最重要原生代币余额的账户，提供 SOL 分布的见解。返回按 SOL 余额排名的前 20 个账户，并提供在流通供应（活跃账户）和非流通供应（储备账户）之间进行筛选的选项。对于市场研究人员、经济分析师、鲸鱼观察者、财富集中研究以及监控主要 SOL 持有者及其对代币经济学和市场动态潜在影响的应用程序来说至关重要。"
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议版本。"
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "请求的唯一标识符。"
                  example: "1"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的 RPC 方法名称。"
                  enum:
                    - "getLargestAccounts"
                  example: "getLargestAccounts"
                  default: "getLargestAccounts"
                params:
                  type: "array"
                  description: "用于筛选账户的可选配置对象。"
                  default: []
                  items:
                    type: "object"
                    properties:
                      commitment:
                        type: "string"
                        description: "请求的承诺级别。"
                        enum:
                          - "confirmed"
                          - "最终确定"
                        example: "最终确定"
                      filter:
                        type: "string"
                        description: "按账户类型过滤结果 - 可以是所有流通的SOL账户或仅限特殊的非流通储备账户。"
                        enum:
                          - "流通中"
                          - "非流通中"
                        example: "流通中"
      responses:
        "200":
          description: "成功检索到最大的账户。"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jsonrpc:
                    type: "string"
                    description: "JSON-RPC协议版本。"
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: "string"
                    description: "与请求匹配的标识符。"
                    example: "1"
                  result:
                    type: "object"
                    description: "最大账户及其余额的列表。"
                    properties:
                      context:
                        type: "object"
                        description: "响应的上下文。"
                        properties:
                          slot:
                            type: "integer"
                            description: "获取数据的插槽。"
                            example: 54
                      value:
                        type: "array"
                        description: "按SOL余额从高到低排名的前20个最大Solana账户。"
                        items:
                          type: "object"
                          properties:
                            lamports:
                              type: "integer"
                              description: "此账户的SOL余额，以lamports为单位（1 SOL = 1,000,000,000 lamports）。"
                              example: 999974
                            address:
                              type: "string"
                              description: "此主要账户持有者的唯一Solana钱包地址。"
                              example: "99P8ZgtJYe1buSK8JXkvpLh8xPsCFuLYhz9hQFNw93WJ"
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "参数无效"
                id: "1"
        "401":
          description: "未授权 - API密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "未授权"
                id: "1"
        "429":
          description: "请求过多 - 超过速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
