openapi: "3.1.0"
info:
  title: "Solana RPC API"
  version: "1.0.0"
  description: "账户存储成本计算器API，用于根据数据大小要求确定使Solana账户免租金所需的最低SOL余额。"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://mainnet.helius-rpc.com"
    description: "主网RPC端点"
  - url: "https://devnet.helius-rpc.com"
    description: "开发网RPC端点"
components:
  securitySchemes:
    ApiKeyQuery:
      type: "apiKey"
      in: "query"
      name: "api-key"
      description: "您的Helius API密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。"
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        jsonrpc:
          type: "string"
          description: "JSON-RPC协议版本。"
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: "object"
          properties:
            code:
              type: "integer"
              description: "错误代码。"
              example: -32602
            message:
              type: "string"
              description: "错误信息。"
            data:
              type: "object"
              description: "关于错误的附加数据。"
        id:
          type: "string"
          description: "与请求匹配的标识符。"
          example: "1"
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: "getMinimumBalanceForRentExemption"
      operationId: "getMinimumBalanceForRentExemption"
      description: "计算使 Solana 账户永久免租所需的最低 SOL 余额。这个重要的经济 API 帮助确定必须分配给账户的精确 SOL 数量，以避免支付经常性租金费用。保持此最低余额的账户免于网络的存储租金费用，确保其在区块链上的长期持久性。对于钱包开发者、DApp 构建者以及任何创建链上账户的应用程序来说，准确估算账户创建成本并根据其预期存储需求正确资助新账户至关重要。"
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "id"
                - "method"
              properties:
                jsonrpc:
                  type: "string"
                  description: "JSON-RPC 协议版本。"
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: "string"
                  description: "请求的唯一标识符。"
                  example: "1"
                  default: "1"
                method:
                  type: "string"
                  description: "要调用的 RPC 方法名称。"
                  enum:
                    - "getMinimumBalanceForRentExemption"
                  example: "getMinimumBalanceForRentExemption"
                  default: "getMinimumBalanceForRentExemption"
                params:
                  type: "array"
                  description: "方法的参数。"
                  default:
                    - 50
                  items:
                    oneOf:
                      - type: "integer"
                        description: "需要在 Solana 区块链上存储的账户数据大小（以字节为单位）。"
                        example: 50
                      - type: "object"
                        description: "具有附加选项的配置对象。"
                        properties:
                          commitment:
                            type: "string"
                            description: "请求的承诺级别。"
                            enum:
                              - "confirmed"
                              - "finalized"
                              - "processed"
                            example: "finalized"
      responses:
        "200":
          description: "成功检索到租金豁免的最低余额。"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jsonrpc:
                    type: "string"
                    description: "JSON-RPC 协议版本。"
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: "string"
                    description: "与请求匹配的标识符。"
                    example: "1"
                  result:
                    type: "integer"
                    description: "使具有此数据大小的账户永久免租所需的最低 SOL 余额（以 lamports 为单位）。"
                    example: 500
        "400":
          description: "错误请求 - 请求参数无效或请求格式错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                id: "1"
        "401":
          description: "未授权 - API 密钥无效或缺失。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                id: "1"
        "429":
          description: "请求过多 - 超出速率限制。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "请求过多"
                id: "1"
        "500":
          description: "内部服务器错误 - 服务器发生错误。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                id: "1"
        "503":
          description: "服务不可用 - 服务暂时不可用。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                id: "1"
        "504":
          description: "网关超时 - 请求超时。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                id: "1"
