openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: 增强的 Solana 程序账户索引 API，支持基于游标的分页和 changedSinceSlot，用于高效查询由特定程序拥有的大量账户集。支持通过基于 slot 的过滤进行增量更新，实现实时数据同步。
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: 主网 RPC 端点
  - url: https://devnet.helius-rpc.com
    description: 开发网 RPC 端点
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: 您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。
  schemas:
    ErrorResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          description: JSON-RPC 协议版本。
          enum:
            - "2.0"
          example: "2.0"
        error:
          type: object
          properties:
            code:
              type: integer
              description: 错误代码。
              example: -32602
            message:
              type: string
              description: 错误信息。
            data:
              type: object
              description: 关于错误的附加数据。
        id:
          type: string
          description: 与请求匹配的标识符。
          example: "1"
paths:
  /:
    post:
      tags:
        - RPC
      summary: getProgramAccountsV2
      operationId: getProgramAccountsV2
      description: |
        getProgramAccounts 的增强版本，具有基于游标的分页和 changedSinceSlot 支持，可有效查询由特定 Solana 程序拥有的大量账户集。支持增量数据获取，每个请求的可配置页面大小最多可达 10,000 个账户。changedSinceSlot 参数允许仅检索自特定区块链槽位以来修改的账户，非常适合实时索引和数据同步工作流。对于处理大规模程序账户发现的应用程序至关重要，例如 DeFi 协议、NFT 市场和区块链分析平台。

        注意：分页结束仅在未返回任何账户时指示。由于过滤，API 可能返回的账户少于限制 - 继续分页直到 paginationKey 为 null。
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  description: JSON-RPC 协议版本。
                  enum:
                    - "2.0"
                  example: "2.0"
                  default: "2.0"
                id:
                  type: string
                  description: 请求的唯一标识符。
                  example: "1"
                  default: "1"
                method:
                  type: string
                  description: 要调用的 RPC 方法名称。
                  enum:
                    - getProgramAccountsV2
                  example: "getProgramAccountsV2"
                  default: "getProgramAccountsV2"
                params:
                  type: array
                  description: 增强分页方法的参数。
                  default:
                    - TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
                    - encoding: base64
                      limit: 1000
                  items:
                    oneOf:
                      - type: string
                        description: 要查询账户的 Solana 程序公钥（地址），以 base-58 编码的字符串形式。
                        example: TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
                      - type: object
                        description: 具有分页支持的增强配置选项，用于优化程序账户查询。
                        properties:
                          commitment:
                            type: string
                            description: 请求的承诺级别。
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
                          minContextSlot:
                            type: integer
                            description: 请求可以评估的最小槽位。
                            example: 1000
                          withContext:
                            type: boolean
                            description: 将结果包装在一个 RpcResponse JSON 对象中。
                            example: true
                          encoding:
                            type: string
                            description: 返回账户数据的编码格式。
                            enum:
                              - jsonParsed
                              - base58
                              - base64
                              - base64+zstd
                            example: base64
                          dataSlice:
                            type: object
                            description: 请求账户数据的一个切片。
                            properties:
                              length:
                                type: integer
                                description: 要返回的字节数。
                                example: 50
                              offset:
                                type: integer
                                description: 字节偏移量，从该位置开始读取。
                                example: 0
                          limit:
                            type: integer
                            description: 每个请求返回的最大账户数量（1-10,000）。
                            minimum: 1
                            maximum: 10000
                            example: 1000
                          paginationKey:
                            type: string
                            description: Base-58 编码的分页游标，用于获取后续页面。使用上一个响应中的 paginationKey。
                            example: 9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM
                          changedSinceSlot:
                            type: integer
                            description: 仅返回在此槽号或之后修改的账户。适用于增量更新。
                            example: 12345678
                          filters:
                            type: array
                            description: 强大的过滤系统，用于高效查询特定的 Solana 账户数据模式。
                            items:
                              oneOf:
                                - type: object
                                  description: 通过其精确的数据大小（以字节为单位）过滤 Solana 账户。
                                  properties:
                                    dataSize:
                                      type: integer
                                      description: 用于过滤的账户数据的精确大小（以字节为单位）。
                                      example: 165
                                - type: object
                                  description: 通过比较特定内存偏移处的数据来过滤 Solana 账户（最强大的过滤器）。
                                  properties:
                                    memcmp:
                                      type: object
                                      description: 用于查找具有特定数据模式的账户的内存比较过滤器。
                                      properties:
                                        offset:
                                          type: integer
                                          description: 在账户数据中执行比较的字节偏移量。
                                          example: 4
                                        bytes:
                                          type: string
                                          description: 在指定偏移位置进行比较的 Base-58 编码数据。
                                          example: 3Mc6vR
      responses:
        "200":
          description: 成功检索到分页的程序账户。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: JSON-RPC 协议版本。
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: 与请求匹配的标识符。
                    example: "1"
                  result:
                    type: object
                    description: 带有导航元数据的分页程序账户。
                    properties:
                      accounts:
                        type: array
                        description: 当前页面的程序账户列表。
                        items:
                          type: object
                          properties:
                            pubkey:
                              type: string
                              description: 作为 base-58 编码字符串的账户公钥。
                              example: "CxELquR1gPP8wHe33gZ4QxqGB3sZ9RSwsJ2KshVewkFY"
                            account:
                              type: object
                              description: 关于账户的详细信息。
                              properties:
                                lamports:
                                  type: integer
                                  description: 分配给此账户的 lamports 数量。
                                  example: 15298080
                                owner:
                                  type: string
                                  description: 分配给此账户的程序的 base-58 编码公钥。
                                  example: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                                data:
                                  type: array
                                  description: 作为编码二进制或 JSON 格式的账户数据。
                                  items:
                                    type: string
                                  example:
                                    - 2R9jLfiAQ9bgdcw6h8s44439
                                    - base64
                                executable:
                                  type: boolean
                                  description: 指示账户是否包含程序。
                                  example: false
                                rentEpoch:
                                  type: integer
                                  description: 此账户下次需要支付租金的纪元。
                                  example: 28
                                space:
                                  type: integer
                                  description: 账户的数据大小。
                                  example: 165
                      paginationKey:
                        type: string
                        description: 下一页的分页游标。仅当没有返回账户（分页结束）时为null。请注意，由于过滤，返回的账户可能少于限制，但这并不表示分页结束。
                        example: "8WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                        nullable: true
                      totalResults:
                        type: integer
                        description: 符合查询条件的账户总数（如果可用）。
                        example: 25000
                        nullable: true
        "400":
          description: 错误请求 - 请求参数无效或请求格式错误。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32602
                  message: "Invalid params"
                  data: {}
                id: "1"
        "401":
          description: 未授权 - API密钥无效或缺失。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32001
                  message: "Unauthorized"
                  data: {}
                id: "1"
        "429":
          description: 请求过多 - 超过速率限制。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32005
                  message: "Too many requests"
                  data: {}
                id: "1"
        "500":
          description: 内部服务器错误 - 服务器发生错误。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32603
                  message: "内部错误"
                  data: {}
                id: "1"
        "503":
          description: 服务不可用 - 服务暂时不可用。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32002
                  message: "服务不可用"
                  data: {}
                id: "1"
        "504":
          description: 网关超时 - 请求超时。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                jsonrpc: "2.0"
                error:
                  code: -32003
                  message: "网关超时"
                  data: {}
                id: "1"
