openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: 数字资产标准 (DAS) API，用于检索全面的 Solana NFT 和代币所有权数据，具有高级过滤和分页选项。
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: 用于生产 Solana 应用程序的主网 RPC 端点
  - url: https://devnet.helius-rpc.com
    description: 用于 Solana 开发和测试的 Devnet RPC 端点
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: 您的 Helius API 密钥。您可以在[仪表板](https://dashboard.helius.dev/api-keys)中免费获取一个。
paths:
  /:
    post:
      tags:
        - RPC
      summary: getAssetsByOwner
      description: |-
        检索由特定 Solana 钱包地址拥有的所有数字资产的完整列表。访问完整的 NFT 集合、压缩资产、可替代代币和本机 SOL 余额，具有高级过滤、排序和分页选项。支持传统和压缩 NFT，提供详细的元数据以进行完整的钱包投资组合分析。
      operationId: rpc
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: JSON-RPC 协议的版本。
                  default: "2.0"
                id:
                  type: string
                  description: 用于标识请求的 ID。
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum:
                    - getAssetsByOwner
                  description: 要调用的 DAS 方法名称。
                  default: "getAssetsByOwner"
                params:
                  description: 用于通过所有者地址查询 Solana 数字资产的参数，支持过滤和分页选项。
                  default:
                    ownerAddress: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                  oneOf:
                    - type: object
                      properties:
                        ownerAddress:
                          type: string
                          description: 用于检索所有拥有的数字资产的 Solana 钱包地址。
                          example: 86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY
                        page:
                          type: integer
                          description: 用于分页浏览大型资产集合的页码（从1开始）。
                          example: 1
                        limit:
                          type: integer
                          description: 每页返回的最大资产数量（最多1000）。
                          example: 50
                        sortBy:
                          type: object
                          description: 用于排序返回的 Solana 资产的排序配置。
                          properties:
                            sortBy:
                              type: string
                              description: 在响应中对 Solana 数字资产进行排序的标准。
                              enum:
                                - created
                                - recent_action
                                - updated
                                - none
                            sortDirection:
                              type: string
                              description: 在响应中对 Solana 数字资产进行排序的方向。
                              enum:
                                - asc
                                - desc
                        options:
                          type: object
                          description: 返回的 Solana 资产数据的显示和过滤选项。
                          properties:
                            showUnverifiedCollections:
                              type: boolean
                              description: 包含未验证的Solana NFT集合的分组信息。
                              default: false
                            showCollectionMetadata:
                              type: boolean
                              description: 包含Solana NFT集合的详细元数据。
                              default: false
                            showGrandTotal:
                              type: boolean
                              description: 包含地址拥有的所有资产的总数（可能会增加响应时间）。
                              default: false
                            showFungible:
                              type: boolean
                              description: 包含Solana钱包持有的SPL代币和可替代资产。
                              default: false
                            showNativeBalance:
                              type: boolean
                              description: 包含Solana钱包持有的原生SOL余额。
                              default: false
                            showInscription:
                              type: boolean
                              description: 包含具有链上铭文的资产的铭文详细信息。
                              default: false
                            showZeroBalance:
                              type: boolean
                              description: 在所有权列表中包含余额为零的资产。
                              default: false
                      required:
                        - ownerAddress
                    - type: object
                      properties:
                        ownerAddress:
                          type: string
                          description: 用于检索所有拥有的数字资产的Solana钱包地址。
                          example: 86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY
                        before:
                          type: string
                          description: 用于在此位置之前检索资产的分页游标（用于向后分页）。
                          example: string
                        after:
                          type: string
                          description: 用于在此位置之后检索资产的分页游标（用于向前分页）。
                          example: string
                        sortBy:
                          type: object
                          description: 用于排序返回的 Solana 资产的排序配置。
                          properties:
                            sortBy:
                              type: string
                              description: 在响应中对 Solana 数字资产进行排序的标准。
                              enum:
                                - created
                                - recent_action
                                - updated
                                - none
                            sortDirection:
                              type: string
                              description: 在响应中对 Solana 数字资产进行排序的方向。
                              enum:
                                - asc
                                - desc
                        options:
                          type: object
                          description: 返回的 Solana 资产数据的显示和过滤选项。
                          properties:
                            showUnverifiedCollections:
                              type: boolean
                              description: 包括未验证的 Solana NFT 集合的分组信息。
                              default: false
                            showCollectionMetadata:
                              type: boolean
                              description: 包括 Solana NFT 集合的详细元数据。
                              default: false
                            showGrandTotal:
                              type: boolean
                              description: 包括地址拥有的所有资产的总数（可能会增加响应时间）。
                              default: false
                            showFungible:
                              type: boolean
                              description: 包括 Solana 钱包持有的 SPL 代币和可替代资产。
                              default: false
                            showNativeBalance:
                              type: boolean
                              description: 包括 Solana 钱包持有的原生 SOL 余额。
                              default: false
                            showInscription:
                              type: boolean
                              description: 包括具有链上铭文的资产的铭文详细信息。
                              default: false
                            showZeroBalance:
                              type: boolean
                              description: 在所有权列表中包含余额为零的资产。
                              default: false
                      required:
                        - ownerAddress
              required:
                - jsonrpc
                - id
                - method
                - params
      responses:
        "200":
          description: 成功检索到指定钱包地址拥有的Solana数字资产
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  result:
                    type: object
                    properties:
                      last_indexed_slot:
                        type: integer
                        description: 保证所有数据都已索引到此槽位及之前的所有数据。
                        example: 365750752
                      total:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 1
                      page:
                        type: integer
                        example: 1
                      items:
                        type: array
                        items:
                          type: object
                          example:
                            interface: "V1_NFT"
                            id: "JCfTS6dmJZY4NXhjMwHqayGGHUwxp59pzcYhZrYqMBce"
                            content:
                              $schema: "https://schema.metaplex.com/nft1.0.json"
                              json_uri: "https://www.hi-hi.vip/json/5000wif.json"
                              files:
                                - uri: https://img.hi-hi.vip/json/img/5000wif.png
                                  cdn_uri: https://cdn.helius-rpc.com/cdn-cgi/image//https://img.hi-hi.vip/json/img/5000wif.png
                                  mime: image/png
                            authorities:
                              - address: 2iVwwSHr7hGR6wxNuQM8ArQYnX6Mzy2yeFnhBGgQetRw
                                scopes:
                                  - full
                            compression:
                              eligible: false
                              compressed: true
                              data_hash: "7zquDVS1VKu9HDh4WS4ray5ozLThiK6xrnFNhJtusj65"
                              creator_hash: "6v7GeYRiVML5mG1kJqi6eujN9sPB3ziCZJF4Vartj1qd"
                              asset_hash: "8gQZkgZ1L91qkNPtsiRGkRzpNcEfhBABEQr1D3wquB8H"
                              tree: "BZNn9zX1MysbSvqyGZ33Seb8bvimaiE9fxmLKwX2Euae"
                              seq: 251133
                              leaf_id: 250758
                            grouping:
                              - group_key: collection
                                group_value: 723Vxwr6aYZHNqc8dVQVwchDHUR3cEwZA8zkejdYWKaS
                            royalty:
                              royalty_model: "creators"
                              target: null
                              percent: 0
                              basis_points: 0
                              primary_sale_happened: false
                              locked: false
                            creators:
                              - address: GVKwqsEC5YQZX4hG7Fdy6m7cJUi4DA3ezYx1CC9wkj34
                                share: 100
                                verified: true
                            ownership:
                              frozen: false
                              delegated: true
                              delegate: "GVKwqsEC5YQZX4hG7Fdy6m7cJUi4DA3ezYx1CC9wkj34"
                              ownership_model: "single"
                              owner: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                            supply:
                              print_max_supply: 0
                              print_current_supply: 0
                              edition_nonce: 0
                            mutable: true
                            burnt: false
                  id:
                    type: string
                    example: "text"
        "400":
          description: 错误请求。由于语法无效，服务器无法理解请求。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32602
                      message:
                        type: string
                        example: "请求参数无效。"
                  id:
                    type: string
                    example: "1"
        "401":
          description: 未授权。客户端必须进行身份验证才能获取请求的响应。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32001
                      message:
                        type: string
                        example: "身份验证失败。缺少或无效的API密钥。"
                  id:
                    type: string
                    example: "1"
        "403":
          description: 禁止访问。客户端没有访问内容的权限。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32003
                      message:
                        type: string
                        example: "您没有权限访问此资源。"
                  id:
                    type: string
                    example: "1"
        "404":
          description: 未找到。服务器无法找到请求的资源。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32004
                      message:
                        type: string
                        example: "未找到指定所有者的资产。"
                  id:
                    type: string
                    example: "1"
        "429":
          description: 请求过多。用户在给定时间内发送了过多请求。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32029
                      message:
                        type: string
                        example: "超出速率限制。请稍后再试。"
                  id:
                    type: string
                    example: "1"
        "500":
          description: 内部服务器错误。服务器遇到了一个无法处理的情况。
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: -32000
                      message:
                        type: string
                        example: "服务器发生了意外错误。"
                  id:
                    type: string
                    example: "1"
