openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
paths:
  /:
    post:
      tags:
        - HTTP
      summary: getBalance
      operationId: getBalance
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The JSON-RPC protocol version.
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum: ["getBalance"]
                  description: The name of the RPC method to invoke.
                params:
                  type: array
                  description: Parameters for the request.
                  items:
                    oneOf:
                      - type: string
                        description: The Pubkey of the account to query (base-58 encoded string).
                        example: "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
                      - type: object
                        description: Additional configuration options for the request.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum: [processed, confirmed, finalized]
                            example: finalized
                          minContextSlot:
                            type: integer
                            description: The minimum slot at which the request can be evaluated.
                            example: 1
      responses:
        200:
          description: Successfully retrieved account balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  result:
                    type: object
                    properties:
                      context:
                        type: object
                        properties:
                          slot:
                            type: integer
                            description: The slot of the returned information.
                            example: 1
                      value:
                        type: integer
                        description: The account balance in lamports.
                        example: 0
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
