openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
paths:
  /:
    post:
      tags:
        - RPC
      summary: getBlockProduction
      operationId: getBlockProduction
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The JSON-RPC protocol version.
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum: ["getBlockProduction"]
                  description: The name of the RPC method to invoke.
                params:
                  type: array
                  description: Parameters for the request.
                  items:
                    oneOf:
                      - type: object
                        description: Configuration options for the request.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum: [processed, confirmed, finalized]
                            example: finalized
                          identity:
                            type: string
                            description: Only return results for this validator identity (base-58 encoded).
                            example: "85iYT5RuzRTDgjyRa3cP8SYhM2j21fj7NhfJ3peu1DPr"
                          range:
                            type: object
                            description: Slot range to return block production for.
                            properties:
                              firstSlot:
                                type: integer
                                description: First slot to return block production information for (inclusive).
                                example: 0
                              lastSlot:
                                type: integer
                                description: Last slot to return block production information for (inclusive). If not provided, defaults to the highest slot.
                                example: 9887
      responses:
        200:
          description: Successfully retrieved block production information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                  id:
                    type: string
                  result:
                    type: object
                    properties:
                      context:
                        type: object
                        properties:
                          slot:
                            type: integer
                            description: The slot at the time of the response.
                            example: 9887
                      value:
                        type: object
                        properties:
                          byIdentity:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: integer
                              description: Two-element array with the number of leader slots and blocks produced.
                            description: Dictionary of validator identities with block production statistics.
                            example:
                              "85iYT5RuzRTDgjyRa3cP8SYhM2j21fj7NhfJ3peu1DPr": [9888, 9886]
                          range:
                            type: object
                            properties:
                              firstSlot:
                                type: integer
                                description: First slot of block production information (inclusive).
                                example: 0
                              lastSlot:
                                type: integer
                                description: Last slot of block production information (inclusive).
                                example: 9887
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
