openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
paths:
  /?api-key=<api-key>:
    post:
      tags:
        - RPC
      summary: getEpochSchedule
      operationId: getEpochSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getEpochSchedule"
                  example: "getEpochSchedule"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getEpochSchedule"
      responses:
        200:
          description: Successfully retrieved epoch schedule information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Epoch schedule information.
                    properties:
                      slotsPerEpoch:
                        type: integer
                        description: The maximum number of slots in each epoch.
                        example: 8192
                      leaderScheduleSlotOffset:
                        type: integer
                        description: The number of slots before the beginning of an epoch to calculate a leader schedule for that epoch.
                        example: 8192
                      warmup:
                        type: boolean
                        description: Whether epochs start short and grow.
                        example: true
                      firstNormalEpoch:
                        type: integer
                        description: First normal-length epoch.
                        example: 8
                      firstNormalSlot:
                        type: integer
                        description: First normal slot.
                        example: 8160
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
examples:
  request:
    value:
      jsonrpc: "2.0"
      id: "1"
      method: "getEpochSchedule"
  response:
    value:
      jsonrpc: "2.0"
      id: "1"
      result:
        slotsPerEpoch: 8192
        leaderScheduleSlotOffset: 8192
        warmup: true
        firstNormalEpoch: 8
        firstNormalSlot: 8160
