openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
paths:
  /:
    post:
      tags:
        - RPC
      summary: getInflationRate
      operationId: getInflationRate
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getInflationRate"
                  example: "getInflationRate"
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getInflationRate"
      responses:
        200:
          description: Successfully retrieved inflation rate information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Inflation rate details.
                    properties:
                      total:
                        type: number
                        format: float
                        description: Total inflation rate.
                        example: 0.149
                      validator:
                        type: number
                        format: float
                        description: Inflation rate allocated to validators.
                        example: 0.148
                      foundation:
                        type: number
                        format: float
                        description: Inflation rate allocated to the foundation.
                        example: 0.001
                      epoch:
                        type: integer
                        description: Epoch for which these values are valid.
                        example: 100
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
examples:
  request:
    value:
      jsonrpc: "2.0"
      id: "1"
      method: "getInflationRate"
  response:
    value:
      jsonrpc: "2.0"
      id: "1"
      result:
        total: 0.149
        validator: 0.148
        foundation: 0.001
        epoch: 100
