openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
paths:
  /?api-key=<api-key>:
    post:
      tags:
        - RPC
      summary: getMaxRetransmitSlot
      operationId: getMaxRetransmitSlot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  description: The JSON-RPC protocol version.
                  enum:
                    - "2.0"
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  description: The name of the RPC method to invoke.
                  enum:
                    - "getMaxRetransmitSlot"
                  example: "getMaxRetransmitSlot"
      responses:
        200:
          description: Successfully retrieved the maximum retransmit slot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    description: The JSON-RPC protocol version.
                    enum:
                      - "2.0"
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: integer
                    description: Slot number.
                    example: 1234
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
