openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
paths:
  /?api-key=<api-key>:
    post:
      tags:
        - RPC
      summary: getTransaction
      operationId: getTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "getTransaction"
                  description: The name of the RPC method to invoke.
                  example: "getTransaction"
                params:
                  type: array
                  description: Parameters for querying a transaction.
                  items:
                    oneOf:
                      - type: string
                        description: Transaction signature as a base-58 encoded string.
                        example: "2nBhEBYYvfaAe16UMNqRHre4YNSskvuYgx3M6E4JP1oDYvZEJHvoPzyUidNgNX5r9sTyN1J9UxtbCXy2rqYcuyuv"
                      - type: string
                        description: Encoding format for the returned transaction.
                        enum:
                          - json
                          - jsonParsed
                          - base64
                          - base58
                        example: json
                      - type: object
                        description: Configuration object for advanced options.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request (processed is not supported).
                            enum:
                              - confirmed
                              - finalized
                            example: finalized
                          maxSupportedTransactionVersion:
                            type: integer
                            description: Maximum transaction version to return in responses.
                            example: 0
            example:
              jsonrpc: "2.0"
              id: 1
              method: "getTransaction"
              params:
                - "2nBhEBYYvfaAe16UMNqRHre4YNSskvuYgx3M6E4JP1oDYvZEJHvoPzyUidNgNX5r9sTyN1J9UxtbCXy2rqYcuyuv"
                - json
      responses:
        200:
          description: Successfully retrieved the transaction details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Transaction details.
                    properties:
                      slot:
                        type: integer
                        description: Slot this transaction was processed in.
                        example: 430
                      transaction:
                        type: object
                        description: Transaction object.
                        properties:
                          message:
                            type: object
                            description: Transaction message details.
                            properties:
                              accountKeys:
                                type: array
                                description: List of account keys involved in the transaction.
                                items:
                                  type: string
                                  example: "3UVYmECPPMZSCqWKfENfuoTv51fTDTWicX9xmBD2euKe"
                              header:
                                type: object
                                description: Header information for the transaction.
                                properties:
                                  numReadonlySignedAccounts:
                                    type: integer
                                    description: Number of read-only signed accounts.
                                    example: 0
                                  numReadonlyUnsignedAccounts:
                                    type: integer
                                    description: Number of read-only unsigned accounts.
                                    example: 3
                                  numRequiredSignatures:
                                    type: integer
                                    description: Number of required signatures.
                                    example: 1
                              instructions:
                                type: array
                                description: List of instructions in the transaction.
                                items:
                                  type: object
                                  properties:
                                    accounts:
                                      type: array
                                      description: List of accounts involved in the instruction.
                                      items:
                                        type: integer
                                        example: 1
                                    data:
                                      type: string
                                      description: Encoded instruction data.
                                      example: "37u9WtQpcm6ULa3WRQHmj49EPs4if7o9f1jSRVZpm2dvihR9C8jY4NqEwXUbLwx15HBSNcP1"
                                    programIdIndex:
                                      type: integer
                                      description: Program ID index for the instruction.
                                      example: 4
                              recentBlockhash:
                                type: string
                                description: Recent blockhash for the transaction.
                                example: "mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B"
                          signatures:
                            type: array
                            description: Transaction signatures.
                            items:
                              type: string
                              example: "2nBhEBYYvfaAe16UMNqRHre4YNSskvuYgx3M6E4JP1oDYvZEJHvoPzyUidNgNX5r9sTyN1J9UxtbCXy2rqYcuyuv"
                      meta:
                        type: object
                        description: Transaction status metadata.
                        properties:
                          err:
                            type: object
                            nullable: true
                            description: Error if transaction failed; null if successful.
                            example: null
                          fee:
                            type: integer
                            description: Transaction fee in lamports.
                            example: 5000
                          innerInstructions:
                            type: array
                            description: List of inner instructions.
                            items:
                              type: object
                          postBalances:
                            type: array
                            description: Account balances after the transaction.
                            items:
                              type: integer
                              example: 499998932500
                          preBalances:
                            type: array
                            description: Account balances before the transaction.
                            items:
                              type: integer
                              example: 499998937500
                          rewards:
                            type: array
                            nullable: true
                            description: Transaction-level rewards.
                            items:
                              type: object
                              properties:
                                pubkey:
                                  type: string
                                  description: Public key of the rewarded account.
                                  example: "3UVYmECPPMZSCqWKfENfuoTv51fTDTWicX9xmBD2euKe"
                                lamports:
                                  type: integer
                                  description: Number of lamports credited or debited.
                                  example: 500
                                postBalance:
                                  type: integer
                                  description: Account balance after reward application.
                                  example: 1000
                                rewardType:
                                  type: string
                                  description: Type of reward.
                                  example: "rent"
            example:
              jsonrpc: "2.0"
              id: 1
              result:
                slot: 430
                transaction:
                  message:
                    accountKeys:
                      - "3UVYmECPPMZSCqWKfENfuoTv51fTDTWicX9xmBD2euKe"
                      - "AjozzgE83A3x1sHNUR64hfH7zaEBWeMaFuAN9kQgujrc"
                    header:
                      numReadonlySignedAccounts: 0
                      numReadonlyUnsignedAccounts: 3
                      numRequiredSignatures: 1
                    instructions:
                      - accounts: [1, 2, 3, 0]
                        data: "37u9WtQpcm6ULa3WRQHmj49EPs4if7o9f1jSRVZpm2dvihR9C8jY4NqEwXUbLwx15HBSNcP1"
                        programIdIndex: 4
                    recentBlockhash: "mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B"
                  signatures:
                    - "2nBhEBYYvfaAe16UMNqRHre4YNSskvuYgx3M6E4JP1oDYvZEJHvoPzyUidNgNX5r9sTyN1J9UxtbCXy2rqYcuyuv"
                meta:
                  err: null
                  fee: 5000
                  innerInstructions: []
                  postBalances: [499998932500, 26858640, 1, 1, 1]
                  preBalances: [499998937500, 26858640, 1, 1, 1]
                  rewards: []
        400:
          description: Invalid request.
        401:
          description: Unauthorized, invalid API key.
        500:
          description: Server error.
