openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
paths:
  /:
    post:
      tags:
        - RPC
      summary: getTokenLargestAccounts
      operationId: getTokenLargestAccounts
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "getTokenLargestAccounts"
                  description: The name of the RPC method to invoke.
                  example: "getTokenLargestAccounts"
                params:
                  type: array
                  description: Parameters for querying the largest token accounts for a specific mint.
                  items:
                    oneOf:
                      - type: string
                        description: Pubkey of the token Mint to query, as a base-58 encoded string.
                        example: "3wyAj7Rt1TWVPZVteFJPLa26JmLvdb1CAKEFZm3NY75E"
                      - type: object
                        description: Configuration object.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
            example:
              jsonrpc: "2.0"
              id: 1
              method: "getTokenLargestAccounts"
              params:
                - "3wyAj7Rt1TWVPZVteFJPLa26JmLvdb1CAKEFZm3NY75E"
      responses:
        200:
          description: Successfully retrieved the largest token accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Context and token account details.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          slot:
                            type: integer
                            description: Slot in which the data was fetched.
                            example: 1114
                      value:
                        type: array
                        description: List of token accounts with their balances.
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: The address of the token account.
                              example: "FYjHNoFtSQ5uijKrZFyYAxvEr87hsKXkXcxkcmkBAf4r"
                            amount:
                              type: string
                              description: The raw token account balance without decimals.
                              example: "771"
                            decimals:
                              type: integer
                              description: Number of base 10 digits to the right of the decimal place.
                              example: 2
                            uiAmount:
                              type: number
                              nullable: true
                              description: The token account balance using mint-prescribed decimals (deprecated).
                              example: 7.71
                            uiAmountString:
                              type: string
                              description: The token account balance as a string using mint-prescribed decimals.
                              example: "7.71"
            example:
              jsonrpc: "2.0"
              id: 1
              result:
                context:
                  slot: 1114
                value:
                  - address: "FYjHNoFtSQ5uijKrZFyYAxvEr87hsKXkXcxkcmkBAf4r"
                    amount: "771"
                    decimals: 2
                    uiAmount: 7.71
                    uiAmountString: "7.71"
                  - address: "BnsywxTcaYeNUtzrPxQUvzAWxfzZe3ZLUJ4wMMuLESnu"
                    amount: "229"
                    decimals: 2
                    uiAmount: 2.29
                    uiAmountString: "2.29"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
examples:
  request:
    value:
      jsonrpc: "2.0"
      id: 1
      method: "getTokenLargestAccounts"
      params:
        - "3wyAj7Rt1TWVPZVteFJPLa26JmLvdb1CAKEFZm3NY75E"
  response:
    value:
      jsonrpc: "2.0"
      id: 1
      result:
        context:
          slot: 1114
        value:
          - address: "FYjHNoFtSQ5uijKrZFyYAxvEr87hsKXkXcxkcmkBAf4r"
            amount: "771"
            decimals: 2
            uiAmount: 7.71
            uiAmountString: "7.71"
          - address: "BnsywxTcaYeNUtzrPxQUvzAWxfzZe3ZLUJ4wMMuLESnu"
            amount: "229"
            decimals: 2
            uiAmount: 2.29
            uiAmountString: "2.29"
