openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
paths:
  /:
    post:
      tags:
        - RPC
      summary: getTokenAccountsByOwner
      operationId: getTokenAccountsByOwner
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "getTokenAccountsByOwner"
                  description: The name of the RPC method to invoke.
                  example: "getTokenAccountsByOwner"
                params:
                  type: array
                  description: Parameters for querying token accounts owned by a specific public key.
                  items:
                    oneOf:
                      - type: string
                        description: Pubkey of the account owner to query, as a base-58 encoded string.
                        example: "A1TMhSGzQxMr1TboBKtgixKz1sS6REASMxPo1qsyTSJd"
                      - type: object
                        description: JSON object with either `mint` or `programId` filter.
                        properties:
                          mint:
                            type: string
                            description: Pubkey of the specific token Mint to limit accounts to, as a base-58 encoded string.
                            example: "2cHr7QS3xfuSV8wdxo3ztuF4xbiarF6Nrgx3qpx3HzXR"
                          programId:
                            type: string
                            description: Pubkey of the Token program that owns the accounts, as a base-58 encoded string.
                            example: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                      - type: object
                        description: Configuration object with optional fields.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
                          minContextSlot:
                            type: integer
                            description: The minimum slot that the request can be evaluated at.
                            example: 1000
                          dataSlice:
                            type: object
                            description: Request a slice of the account's data.
                            properties:
                              length:
                                type: integer
                                description: Number of bytes to return.
                                example: 10
                              offset:
                                type: integer
                                description: Byte offset from which to start reading.
                                example: 0
                          encoding:
                            type: string
                            description: Encoding format for Account data.
                            enum:
                              - base58
                              - base64
                              - base64+zstd
                              - jsonParsed
                            example: jsonParsed
            example:
              jsonrpc: "2.0"
              id: "1"
              method: "getTokenAccountsByOwner"
              params:
                - "A1TMhSGzQxMr1TboBKtgixKz1sS6REASMxPo1qsyTSJd"
                - programId: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                - encoding: "jsonParsed"
      responses:
        200:
          description: Successfully retrieved token accounts by owner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Context and account details.
                    properties:
                      context:
                        type: object
                        description: Context of the response.
                        properties:
                          apiVersion:
                            type: string
                            description: API version.
                            example: "2.0.15"
                          slot:
                            type: integer
                            description: Slot in which the data was fetched.
                            example: 341197933
                      value:
                        type: array
                        description: List of token accounts.
                        items:
                          type: object
                          properties:
                            pubkey:
                              type: string
                              description: Account Pubkey as a base-58 encoded string.
                              example: "BGocb4GEpbTFm8UFV2VsDSaBXHELPfAXrvd4vtt8QWrA"
                            account:
                              type: object
                              description: Token account details.
                              properties:
                                lamports:
                                  type: integer
                                  description: Number of lamports assigned to the account.
                                  example: 2039280
                                owner:
                                  type: string
                                  description: Pubkey of the program this account has been assigned to.
                                  example: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                                data:
                                  type: object
                                  description: Token state data associated with the account.
                                  properties:
                                    program:
                                      type: string
                                      description: Program name.
                                      example: "spl-token"
                                    parsed:
                                      type: object
                                      description: Parsed token data.
                                      properties:
                                        info:
                                          type: object
                                          description: Token account information.
                                          properties:
                                            isNative:
                                              type: boolean
                                              description: Indicates if the account holds native SOL.
                                              example: false
                                            mint:
                                              type: string
                                              description: Pubkey of the token mint.
                                              example: "2cHr7QS3xfuSV8wdxo3ztuF4xbiarF6Nrgx3qpx3HzXR"
                                            owner:
                                              type: string
                                              description: Pubkey of the account owner.
                                              example: "A1TMhSGzQxMr1TboBKtgixKz1sS6REASMxPo1qsyTSJd"
                                            state:
                                              type: string
                                              description: Token account state.
                                              example: "initialized"
                                            tokenAmount:
                                              type: object
                                              description: Token amount details.
                                              properties:
                                                amount:
                                                  type: string
                                                  description: Raw balance without decimals.
                                                  example: "420000000000000"
                                                decimals:
                                                  type: integer
                                                  description: Number of decimals.
                                                  example: 6
                                                uiAmount:
                                                  type: number
                                                  description: Balance in user-friendly format.
                                                  example: 420000000.0
                                                uiAmountString:
                                                  type: string
                                                  description: Balance as a string.
                                                  example: "420000000"
                                    space:
                                      type: integer
                                      description: Space allocated for the account.
                                      example: 165
                                executable:
                                  type: boolean
                                  description: Indicates if the account contains a program.
                                  example: false
                                rentEpoch:
                                  type: integer
                                  description: Epoch at which the account will next owe rent.
                                  example: 18446744073709551615
                                space:
                                  type: integer
                                  description: Data size of the account.
                                  example: 165
              example:
                jsonrpc: "2.0"
                id: "1"
                result:
                  context:
                    apiVersion: "2.0.15"
                    slot: 341197933
                  value:
                    - pubkey: "BGocb4GEpbTFm8UFV2VsDSaBXHELPfAXrvd4vtt8QWrA"
                      account:
                        lamports: 2039280
                        owner: "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
                        data:
                          program: "spl-token"
                          parsed:
                            info:
                              isNative: false
                              mint: "2cHr7QS3xfuSV8wdxo3ztuF4xbiarF6Nrgx3qpx3HzXR"
                              owner: "A1TMhSGzQxMr1TboBKtgixKz1sS6REASMxPo1qsyTSJd"
                              state: "initialized"
                              tokenAmount:
                                amount: "420000000000000"
                                decimals: 6
                                uiAmount: 420000000.0
                                uiAmountString: "420000000"
                          space: 165
                        executable: false
                        rentEpoch: 18446744073709551615
                        space: 165
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid params"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
