openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
  examples:
    getVersionRequest:
      value:
        jsonrpc: "2.0"
        id: "1"
        method: "getVersion"
    getVersionResponse:
      value:
        jsonrpc: "2.0"
        id: "1"
        result:
          solana-core: "1.16.7"
          feature-set: 2891131721
paths:
  /:
    post:
      tags:
        - RPC
      summary: getVersion
      operationId: getVersion
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "getVersion"
                  description: The name of the RPC method to invoke.
                  example: "getVersion"
                params:
                  type: array
                  description: No parameters required.
                  maxItems: 0
            examples:
              default:
                $ref: '#/components/examples/getVersionRequest'
      responses:
        200:
          description: Successfully retrieved the Solana version details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: object
                    description: Solana version details.
                    properties:
                      solana-core:
                        type: string
                        description: The software version of solana-core.
                        example: "1.16.7"
                      feature-set:
                        type: integer
                        description: Unique identifier of the current software's feature set.
                        example: 2891131721
              examples:
                default:
                  $ref: '#/components/examples/getVersionResponse'
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid request"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
