openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
paths:
  /?api-key=<api-key>:
    post:
      tags:
        - RPC
      summary: minimumLedgerSlot
      operationId: minimumLedgerSlot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "minimumLedgerSlot"
                  description: The name of the RPC method to invoke.
                  example: "minimumLedgerSlot"
                params:
                  type: array
                  description: No parameters are required for this method.
                  maxItems: 0
            example:
              jsonrpc: "2.0"
              id: 1
              method: "minimumLedgerSlot"
      responses:
        200:
          description: Successfully retrieved the minimum ledger slot number.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: integer
                    description: Minimum ledger slot number.
                    example: 1234
            example:
              jsonrpc: "2.0"
              id: 1
              result: 1234
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid request"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
examples:
  request:
    value:
      jsonrpc: "2.0"
      id: 1
      method: "minimumLedgerSlot"
  response:
    value:
      jsonrpc: "2.0"
      id: 1
      result: 1234
