openapi: 3.0.0
info:
  title: Solana RPC API
  version: 1.0.0
servers:
  - url: https://mainnet.helius-rpc.com
paths:
  /?api-key=<api-key>:
    post:
      tags:
        - RPC
      summary: requestAirdrop
      operationId: requestAirdrop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                  description: The JSON-RPC protocol version.
                  example: "2.0"
                id:
                  type: string
                  description: A unique identifier for the request.
                  example: "1"
                method:
                  type: string
                  enum:
                    - "requestAirdrop"
                  description: The name of the RPC method to invoke.
                  example: "requestAirdrop"
                params:
                  type: array
                  description: Parameters for the airdrop request.
                  items:
                    oneOf:
                      - type: string
                        description: The public key of the account to receive lamports, as a base-58 encoded string.
                        example: "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
                      - type: integer
                        description: The number of lamports to airdrop, as a u64 integer.
                        example: 1000000000
                      - type: object
                        description: Configuration object for the airdrop.
                        properties:
                          commitment:
                            type: string
                            description: The commitment level for the request.
                            enum:
                              - confirmed
                              - finalized
                              - processed
                            example: finalized
            example:
              jsonrpc: "2.0"
              id: 1
              method: "requestAirdrop"
              params:
                - "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
                - 1000000000
      responses:
        200:
          description: Successfully requested airdrop.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                      - "2.0"
                    description: The JSON-RPC protocol version.
                    example: "2.0"
                  id:
                    type: string
                    description: Identifier matching the request.
                    example: "1"
                  result:
                    type: string
                    description: Transaction signature of the airdrop.
                    example: "5VERv8NMvzbJMEkV8xnrLkEaWRtSz9CosKDYjCJjBRnbJLgp8uirBgmQpjKhoR4tjF3ZpRzrFmBV6UjKdiSZkQUW"
            example:
              jsonrpc: "2.0"
              id: 1
              result: "5VERv8NMvzbJMEkV8xnrLkEaWRtSz9CosKDYjCJjBRnbJLgp8uirBgmQpjKhoR4tjF3ZpRzrFmBV6UjKdiSZkQUW"
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Invalid request"
        401:
          description: Unauthorized, invalid API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Unauthorized"
        500:
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing the issue.
                    example: "Internal Server Error"
examples:
  request:
    value:
      jsonrpc: "2.0"
      id: 1
      method: "requestAirdrop"
      params:
        - "83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"
        - 1000000000
  response:
    value:
      jsonrpc: "2.0"
      id: 1
      result: "5VERv8NMvzbJMEkV8xnrLkEaWRtSz9CosKDYjCJjBRnbJLgp8uirBgmQpjKhoR4tjF3ZpRzrFmBV6UjKdiSZkQUW"
