openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - RPC
      summary: getAssetBatch
      operationId: rpc
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ['2.0']
                  description: The version of the JSON-RPC protocol.
                id:
                  type: string
                  example: 'test'
                  description: An ID to identify the request.
                method:
                  type: string
                  enum: ['getAssetBatch']
                  description: The name of the DAS method to invoke.
                params:
                  type: object
                  properties:
                    ids:
                      type: array
                      items:
                        type: string
                        description: The ID of the asset to retrieve.
                        example: 'F9Lw3ki3hJ7PF9HQXsBzoY8GyE6sPoEZZdXJBsTTD2rk'
                    options:
                      type: object
                      description: The display options for the response.
                      properties:
                        showUnverifiedCollections:
                          type: boolean
                          default: false
                          description: Displays grouping information for unverified collections instead of skipping them.
                        showCollectionMetadata:
                          type: boolean
                          default: false
                          description: Displays metadata for the collection.
                        showFungible:
                          type: boolean
                          description: Displays fungible tokens held by the owner.
                          default: false
                        showInscription:
                          type: boolean
                          description: Displays inscription details of assets inscribed on-chain.
                          default: false
                  required:
                    - ids
                  example:
                    ids:
                      - 'F9Lw3ki3hJ7PF9HQXsBzoY8GyE6sPoEZZdXJBsTTD2rk'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: An array of assets.
                items:
                  type: object
                  properties:
                    interface:
                      type: string
                      description: The interface of the asset.
                      enum:
                        [
                          'V1_NFT',
                          'V1_PRINT',
                          'LEGACY_NFT',
                          'V2_NFT',
                          'FungibleAsset',
                          'FungibleToken',
                          'Custom',
                          'Identity',
                          'Executable',
                          'ProgrammableNFT',
                        ]
                      example: 'ProgrammableNFT'
                    id:
                      type: string
                      description: The ID of the asset.
                      example: 'F9Lw3ki3hJ7PF9HQXsBzoY8GyE6sPoEZZdXJBsTTD2rk'
                    content:
                      type: object
                      description: The content of the asset.
                      properties:
                        $schema:
                          type: string
                          example: 'https://schema.metaplex.com/nft1.0.json'
                        json_uri:
                          type: string
                          example: 'https://madlads.s3.us-west-2.amazonaws.com/json/8420.json'
                        files:
                          type: array
                          items:
                            type: object
                          example:
                            - uri: 'https://madlads.s3.us-west-2.amazonaws.com/images/8420.png'
                              cdn_uri: 'https://cdn.helius-rpc.com/cdn-cgi/image//https://madlads.s3.us-west-2.amazonaws.com/images/8420.png'
                              mime: 'image/png'
                        metadata:
                          type: object
                          properties:
                            attributes:
                              type: array
                              items:
                                type: object
                              example:
                                - value: 'Male'
                                  trait_type: 'Gender'
                                - value: 'King'
                                  trait_type: 'Type'
                            description:
                              type: string
                              example: 'Fock it.'
                            name:
                              type: string
                              example: 'Mad Lads #8420'
                            symbol:
                              type: string
                              example: 'MAD'
                    authorities:
                      type: array
                      items:
                        type: object
                      example:
                        - address: '2RtGg6fsFiiF1EQzHqbd66AhW7R5bWeQGpTbv2UMkCdW'
                          scopes: ['full']
                    compression:
                      type: object
                      example:
                        eligible: false
                        compressed: false
                        data_hash: ''
                        creator_hash: ''
                        asset_hash: ''
                        tree: ''
                        seq: 0
                        leaf_id: 0
                    grouping:
                      type: array
                      items:
                        type: object
                      example:
                        - group_key: 'collection'
                          group_value: 'J1S9H3QjnRtBbbuD4HjPV6RpRhwuk4zKbxsnCHuTgh9w'
                    royalty:
                      type: object
                      example:
                        royalty_model: 'creators'
                        target: null
                        percent: 0.042
                        basis_points: 420
                        primary_sale_happened: true
                        locked: false
                    creators:
                      type: array
                      items:
                        type: object
                      example:
                        - address: '5XvhfmRjwXkGp3jHGmaKpqeerNYjkuZZBYLVQYdeVcRv'
                          share: 0
                          verified: true
                        - address: '2RtGg6fsFiiF1EQzHqbd66AhW7R5bWeQGpTbv2UMkCdW'
                          share: 100
                          verified: true
                    ownership:
                      type: object
                      example:
                        frozen: true
                        delegated: false
                        delegate: null
                        ownership_model: 'single'
                        owner: '4zdNGgAtFsW1cQgHqkiWyRsxaAgxrSRRynnuunxzjxue'
                    supply:
                      type: object
                      example:
                        print_max_supply: 0
                        print_current_supply: 0
                        edition_nonce: 254
                    token_info:
                      type: object
                      description: Details about the specific token.
                      properties:
                        symbol:
                          type: string
                          description: The symbol of the token.
                        supply:
                          type: integer
                          description: The total supply of the token.
                        decimals:
                          type: integer
                          description: The number of decimals the token uses.
                        token_program:
                          type: string
                          description: The tokens program ID.
                        price_info:
                          type: object
                          description: Information about the token's price.
                          properties:
                            price_per_token:
                              type: number
                              description: The price per individual token.
                            currency:
                              type: string
                              description: The currency in which the token's price is denoted.
                        mint_authority:
                          type: string
                          description: The mint authority address of the token.
                        freeze_authority:
                          type: string
                          description: The freeze authority address of the token.
                    inscription:
                      type: object
                      properties:
                        order:
                          type: integer
                          description: The order of the inscription.
                        size:
                          type: integer
                          description: The size of the inscription.
                        contentType:
                          type: string
                          description: The content type of the inscription.
                        encoding:
                          type: string
                          description: The encoding of the inscription.
                        validationHash:
                          type: string
                          description: The validation hash of the inscription.
                        inscriptionDataAccount:
                          type: string
                          description: The inscription data account.
                        authority:
                          type: string
                          description: The authority of the inscription.
                    spl20:
                      type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Request was forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
