openapi: 3.0.0
info:
    title: Helius API
    version: 1.0.0
servers:
    - url: https://mainnet.helius-rpc.com
paths:
    /?api-key=<api-key>:
        post:
            tags:
                - RPC
            summary: getAssetsByCreator
            operationId: rpc
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                method:
                                    type: string
                                    enum: ['getAssetsByCreator']
                                    description: The name of the DAS method to invoke.
                                params:
                                    type: object
                                    properties:
                                        creatorAddress:
                                            type: string
                                            description: The creator address key to return assets.
                                            example: 'D3XrkNZz6wx6cofot7Zohsf2KSsu2ArngNk8VqU9cTY3'
                                        page:
                                            type: integer
                                            description: The page of results to return.
                                            example: 1
                                        limit:
                                            type: integer
                                            description: The maximum number of assets to return.
                                            example: 100
                                        sortBy:
                                            type: object
                                            description: The sorting options for the response.
                                            properties:
                                                sortBy:
                                                    type: string
                                                    description: The criteria by which the retrieved assets will be sorted.
                                                    enum: ['created', 'recent_action', 'updated', 'none']
                                                sortDirection:
                                                    type: string
                                                    description: The direction by which the retrieved assets will be sorted.
                                                    enum: ['asc', 'desc']
                                        before:
                                            type: string
                                            description: The cursor for paginating backwards through the assets.
                                            example: 'string'
                                        after:
                                            type: string
                                            description: The cursor for paginating forwards through the assets.
                                            example: 'string'
                                        options:
                                            type: object
                                            description: The display options for the response.
                                            properties:
                                                showUnverifiedCollections:
                                                    type: boolean
                                                    description: Displays grouping information for unverified collections instead of skipping them.
                                                    default: false
                                                showCollectionMetadata:
                                                    type: boolean
                                                    description: Displays metadata for the collection.
                                                    default: false
                                                showGrandTotal:
                                                    type: boolean
                                                    description: Shows the total number of assets that matched the query. This will make the request slower.
                                                    default: false
                                                showInscription:
                                                    type: boolean
                                                    description: Displays inscription details of assets inscribed on-chain.
                                                    default: false
                                    required:
                                        - creatorAddress
            responses:
                '200':
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    result:
                                        type: object
                                        properties:
                                            total:
                                                type: integer
                                                description: The total number of assets found.
                                                example: 1
                                            limit:
                                                type: integer
                                                description: The maximum number of assets requested.
                                                example: 1
                                            page:
                                                type: integer
                                                description: The current page of results.
                                                example: 1
                                            items:
                                                type: array
                                                description: An array of assets.
                                                items:
                                                    type: object
                                                    properties:
                                                        interface:
                                                            type: string
                                                            description: The interface of the asset.
                                                            example: "Custom"
                                                        id:
                                                            type: string
                                                            description: The ID of the asset.
                                                            example: "JEH7cJxAKdprFG5AvdsY2c4ZqojxLBjFmw19zADV6oK5"
                                                        content:
                                                            type: object
                                                            description: The content of the asset.
                                                            example: {
                                                                "$schema": "https://schema.metaplex.com/nft1.0.json",
                                                                "json_uri": "https://famousfoxes.com/metadata/7045.json",
                                                                "files": [
                                                                    {
                                                                        "uri": "https://famousfoxes.com/hd/7045.png",
                                                                        "cdn_uri": "https://cdn.helius-rpc.com/cdn-cgi/image//https://famousfoxes.com/hd/7045.png",
                                                                        "mime": "image/png"
                                                                    }
                                                                ]
                                                            }
                                                        authorities:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The authorities of the asset.
                                                            example: [
                                                                {
                                                                    "address": "3pMvTLUA9NzZQd4gi725p89mvND1wRNQM3C8XEv1hTdA",
                                                                    "scopes": ["full"]
                                                                }
                                                            ]
                                                        compression:
                                                            type: object
                                                            description: The compression details for asset.
                                                            example: {
                                                                "eligible": false,
                                                                "compressed": false,
                                                                "data_hash": "",
                                                                "creator_hash": "",
                                                                "asset_hash": "",
                                                                "tree": "",
                                                                "seq": 0,
                                                                "leaf_id": 0
                                                            }
                                                        grouping:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The grouping details for asset.
                                                            example: [
                                                                {
                                                                    "group_key": "collection",
                                                                    "group_value": "BUjZjAS2vbbb65g7Z1Ca9ZRVYoJscURG5L3AkVvHP9ac"
                                                                }
                                                            ]
                                                        royalty:
                                                            type: object
                                                            description: The royalty details for asset.
                                                            example: {
                                                                "royalty_model": "creators",
                                                                "target": null,
                                                                "percent": 0.042,
                                                                "basis_points": 420,
                                                                "primary_sale_happened": true,
                                                                "locked": false
                                                            }
                                                        creators:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The creators details for asset.
                                                            example: [
                                                                {
                                                                    "address": "D3XrkNZz6wx6cofot7Zohsf2KSsu2ArngNk8VqU9cTY3",
                                                                    "share": 0,
                                                                    "verified": true
                                                                }
                                                            ]
                                                        ownership:
                                                            type: object
                                                            description: The ownership details for asset.
                                                            example: {
                                                                "frozen": false,
                                                                "delegated": false,
                                                                "delegate": null,
                                                                "ownership_model": "single",
                                                                "owner": "1BWutmTvYPwDtmw9abTkS4Ssr8no61spGAvW1X6NDix"
                                                            }
                '400':
                    description: Invalid request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string

                '401':
                    description: Unauthorized request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '403':
                    description: Request was forbidden.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '404':
                    description: The specified resource was not found.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '429':
                    description: Exceeded rate limit..
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '500':
                    description: The server encountered an unexpected condition that prevented it from fulfilling the request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
