openapi: 3.1.0
info:
  title: Solana Batch Compressed NFT Verification API
  version: 1.0.0
  description: |
    Advanced Solana Digital Asset Standard (DAS) API for efficiently retrieving multiple cryptographic 
    merkle proofs for compressed NFTs in a single request. This optimized batch verification API enables 
    applications to validate multiple compressed assets simultaneously, significantly reducing API calls 
    and improving performance for marketplace listings, wallet displays, and other applications working 
    with collections of compressed Solana NFTs.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
        post:
            tags:
              - RPC
            summary: getAssetProofBatch
            description: |
              Efficiently retrieve cryptographic merkle proofs for multiple compressed Solana NFTs in a single batch request.
              This optimized verification API returns the complete proof paths required to validate multiple compressed
              digital assets' existence and data integrity on the Solana blockchain without requiring separate API calls for each NFT.
              Essential for high-performance applications like marketplaces, wallets, and gaming platforms that need to verify
              ownership and authenticity of multiple compressed NFTs simultaneously with minimal latency and API usage.
            operationId: rpc
            security:
              - ApiKeyQuery: []
            parameters:
                - name: api-key
                  in: query
                  description: Your Helius API key required for authenticating batch requests to the Solana compression API.
                  required: true
                  schema:
                      type: string
                      example: 'string'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    default: '2.0'
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    default: '1'
                                method:
                                    type: string
                                    enum: ['getAssetProofBatch']
                                    description: The name of the DAS method to invoke.
                                    default: 'getAssetProofBatch'
                                params:
                                    type: object
                                    default:
                                        ids:
                                            - 'Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss'
                                    required:
                                      - ids
                                    properties:
                                        ids:
                                            type: array
                                            items:
                                                type: string
                                                description: Array of unique identifiers (mint addresses) of the compressed Solana NFTs to retrieve merkle proofs for.
                                                example: 'Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss'
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    result:
                                        type: object
                                        properties:
                                            Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss:
                                                type: object
                                                properties:
                                                    root:
                                                        type: string
                                                        description: The root hash of the Solana state compression merkle tree containing this compressed NFT.
                                                        example: "2o6Y6EiY3WXhoaEpei2pHmHLYnHDcEQVhgD89GrGHDBH"
                                                    proof:
                                                        type: array
                                                        description: Array of merkle proof hashes needed to cryptographically verify this Solana compressed NFT's existence.
                                                        items:
                                                            type: string
                                                        example: [
                                                            "EmJXiXEAhEN3FfNQtBa5hwR8LC5kHvdLsaGCoERosZjK",
                                                            "7NEfhcNPAwbw3L87fjsPqTz2fQdd1CjoLE138SD58FDQ"
                                                        ]
                                                    node_index:
                                                        type: integer
                                                        description: The position index of this compressed Solana NFT in the merkle tree structure.
                                                        example: 16384
                                                    leaf:
                                                        type: string
                                                        description: The leaf hash representing this compressed Solana NFT's data in the merkle tree.
                                                        example: "6YdZXw49M97mfFTwgQb6kxM2c6eqZkHSaW9XhhoZXtzv"
                                                    tree_id:
                                                        type: string
                                                        description: The unique identifier of the Solana merkle tree where this compressed NFT is stored.
                                                        example: "2kuTFCcjbV22wvUmtmgsFR7cas7eZUzAu96jzJUvUcb7"
                                                    burnt: false
                                    id:
                                        type: string
                                        example: "my-id"
                400:
                    description: Bad Request. The server could not understand the request due to invalid syntax.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32602
                                            message:
                                                type: string
                                                example: "Invalid request parameters."
                                    id:
                                        type: string
                                        example: "1"
                401:
                    description: Unauthorized. The client must authenticate itself to get the requested response.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32001
                                            message:
                                                type: string
                                                example: "Authentication failed. Missing or invalid API key."
                                    id:
                                        type: string
                                        example: "1"
                403:
                    description: Forbidden. The client does not have access rights to the content.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32003
                                            message:
                                                type: string
                                                example: "You do not have permission to access this resource."
                                    id:
                                        type: string
                                        example: "1"
                404:
                    description: Not Found. The server can not find the requested resource.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32004
                                            message:
                                                type: string
                                                example: "One or more assets in the batch were not found."
                                    id:
                                        type: string
                                        example: "1"
                429:
                    description: Too Many Requests. The user has sent too many requests in a given amount of time.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32029
                                            message:
                                                type: string
                                                example: "Rate limit exceeded. Please try again later."
                                    id:
                                        type: string
                                        example: "1"
                500:
                    description: Internal Server Error. The server has encountered a situation it doesn't know how to handle.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32000
                                            message:
                                                type: string
                                                example: "An unexpected error occurred on the server."
                                    id:
                                        type: string
                                        example: "1"
