openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  description: Digital Asset Standard (DAS) API for retrieving comprehensive Solana NFT and token ownership data with advanced filtering and pagination options.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint for production Solana applications
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint for Solana development and testing
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags:
        - "RPC"
      summary: getAssetsByOwner
      description: |
        Retrieve a comprehensive list of all digital assets owned by a specific Solana wallet address.
        Access complete NFT collections, compressed assets, fungible tokens, and native SOL balances
        with advanced filtering, sorting, and pagination options. Supports both traditional and compressed
        NFTs with detailed metadata for complete wallet portfolio analysis.
      operationId: rpc
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The version of the JSON-RPC protocol.
                  default: "2.0"
                id:
                  type: string
                  description: An ID to identify the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum: ["getAssetsByOwner"]
                  description: The name of the DAS method to invoke.
                  default: "getAssetsByOwner"
                params:
                  description: Parameters for querying Solana digital assets by owner address with filtering and pagination options.
                  default:
                    ownerAddress: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                  oneOf:
                    #
                    # 1) Page-based pagination variant
                    #
                    - type: object
                      properties:
                        ownerAddress:
                          type: string
                          description: The Solana wallet address to retrieve all owned digital assets for.
                          example: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                        page:
                          type: integer
                          description: The page number for paginating through large asset collections (1-based indexing).
                          example: 1
                        limit:
                          type: integer
                          description: The maximum number of assets to return per page (up to 1000).
                          example: 50
                        sortBy:
                          type: object
                          description: Sorting configuration for ordering the returned Solana assets.
                          properties:
                            sortBy:
                              type: string
                              description: Criteria for sorting Solana digital assets in the response.
                              enum: ["created", "recent_action", "updated", "none"]
                            sortDirection:
                              type: string
                              description: Sort direction for ordering Solana digital assets in the response.
                              enum: ["asc", "desc"]
                        options:
                          type: object
                          description: Display and filtering options for the returned Solana asset data.
                          properties:
                            showUnverifiedCollections:
                              type: boolean
                              description: Include grouping information for unverified Solana NFT collections.
                              default: false
                            showCollectionMetadata:
                              type: boolean
                              description: Include detailed metadata for Solana NFT collections.
                              default: false
                            showGrandTotal:
                              type: boolean
                              description: Include the total count of all assets owned by the address (may increase response time).
                              default: false
                            showFungible:
                              type: boolean
                              description: Include SPL tokens and fungible assets held by the Solana wallet.
                              default: false
                            showNativeBalance:
                              type: boolean
                              description: Include native SOL balance held by the Solana wallet.
                              default: false
                            showInscription:
                              type: boolean
                              description: Include inscription details for assets with on-chain inscriptions.
                              default: false
                            showZeroBalance:
                              type: boolean
                              description: Include assets with zero balance in the ownership list.
                              default: false
                      required:
                        - ownerAddress

                    #
                    # 2) Cursor-based pagination variant
                    #
                    - type: object
                      properties:
                        ownerAddress:
                          type: string
                          description: The Solana wallet address to retrieve all owned digital assets for.
                          example: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                        before:
                          type: string
                          description: Pagination cursor for retrieving assets before this position (for backwards pagination).
                          example: "string"
                        after:
                          type: string
                          description: Pagination cursor for retrieving assets after this position (for forwards pagination).
                          example: "string"
                        sortBy:
                          type: object
                          description: Sorting configuration for ordering the returned Solana assets.
                          properties:
                            sortBy:
                              type: string
                              description: Criteria for sorting Solana digital assets in the response.
                              enum: ["created", "recent_action", "updated", "none"]
                            sortDirection:
                              type: string
                              description: Sort direction for ordering Solana digital assets in the response.
                              enum: ["asc", "desc"]
                        options:
                          type: object
                          description: Display and filtering options for the returned Solana asset data.
                          properties:
                            showUnverifiedCollections:
                              type: boolean
                              description: Include grouping information for unverified Solana NFT collections.
                              default: false
                            showCollectionMetadata:
                              type: boolean
                              description: Include detailed metadata for Solana NFT collections.
                              default: false
                            showGrandTotal:
                              type: boolean
                              description: Include the total count of all assets owned by the address (may increase response time).
                              default: false
                            showFungible:
                              type: boolean
                              description: Include SPL tokens and fungible assets held by the Solana wallet.
                              default: false
                            showNativeBalance:
                              type: boolean
                              description: Include native SOL balance held by the Solana wallet.
                              default: false
                            showInscription:
                              type: boolean
                              description: Include inscription details for assets with on-chain inscriptions.
                              default: false
                            showZeroBalance:
                              type: boolean
                              description: Include assets with zero balance in the ownership list.
                              default: false
                      required:
                        - ownerAddress
              required:
                - jsonrpc
                - id
                - method
                - params
      responses:
        "200":
          description: Successfully retrieved Solana digital assets owned by the specified wallet address
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  result:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 1
                      page:
                        type: integer
                        example: 1
                      items:
                        type: array
                        items:
                          type: object
                          example:
                            interface: "V1_NFT"
                            id: "JCfTS6dmJZY4NXhjMwHqayGGHUwxp59pzcYhZrYqMBce"
                            content:
                              $schema: "https://schema.metaplex.com/nft1.0.json"
                              json_uri: "https://www.hi-hi.vip/json/5000wif.json"
                              files:
                                - uri: "https://img.hi-hi.vip/json/img/5000wif.png"
                                  cdn_uri: "https://cdn.helius-rpc.com/cdn-cgi/image//https://img.hi-hi.vip/json/img/5000wif.png"
                                  mime: "image/png"
                            authorities:
                              - address: "2iVwwSHr7hGR6wxNuQM8ArQYnX6Mzy2yeFnhBGgQetRw"
                                scopes: ["full"]
                            compression:
                              eligible: false
                              compressed: true
                              data_hash: "7zquDVS1VKu9HDh4WS4ray5ozLThiK6xrnFNhJtusj65"
                              creator_hash: "6v7GeYRiVML5mG1kJqi6eujN9sPB3ziCZJF4Vartj1qd"
                              asset_hash: "8gQZkgZ1L91qkNPtsiRGkRzpNcEfhBABEQr1D3wquB8H"
                              tree: "BZNn9zX1MysbSvqyGZ33Seb8bvimaiE9fxmLKwX2Euae"
                              seq: 251133
                              leaf_id: 250758
                            grouping:
                              - group_key: "collection"
                                group_value: "723Vxwr6aYZHNqc8dVQVwchDHUR3cEwZA8zkejdYWKaS"
                            royalty:
                              royalty_model: "creators"
                              target: null
                              percent: 0.0
                              basis_points: 0
                              primary_sale_happened: false
                              locked: false
                            creators:
                              - address: "GVKwqsEC5YQZX4hG7Fdy6m7cJUi4DA3ezYx1CC9wkj34"
                                share: 100
                                verified: true
                            ownership:
                              frozen: false
                              delegated: true
                              delegate: "GVKwqsEC5YQZX4hG7Fdy6m7cJUi4DA3ezYx1CC9wkj34"
                              ownership_model: "single"
                              owner: "86xCnPeV69n6t3DnyGvkKobf9FdN2H9oiVDdaMpo2MMY"
                            supply:
                              print_max_supply: 0
                              print_current_supply: 0
                              edition_nonce: 0
                            mutable: true
                            burnt: false
                  id:
                    type: string
                    example: "text"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Request was forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "429":
          description: Exceeded rate limit..
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
