openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
        post:
            tags: 
              - RPC
            summary: getAssetProof
            operationId: rpc
            security:
              - ApiKeyQuery: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    default: '2.0'
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    default: '1'
                                method:
                                    type: string
                                    enum: ['getAssetProof']
                                    description: The name of the DAS method to invoke.
                                    default: 'getAssetProof'
                                params:
                                    type: object
                                    default:
                                       id: 'Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss'
                                    required:
                                      - id
                                    properties:
                                        id:
                                            type: string
                                            description: The ID of the compressed asset to return it's proof.
                                            example: 'Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss'
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    root:
                                        type: string
                                        description: The root of the merkle tree.
                                        example: '2o6Y6EiY3WXhoaEpei2pHmHLYnHDcEQVhgD89GrGHDBH'
                                    proof:
                                        type: array
                                        description: The proof of the asset.
                                        items:
                                            type: string
                                            example:
                                                - 'EmJXiXEAhEN3FfNQtBa5hwR8LC5kHvdLsaGCoERosZjK'
                                                - '7NEfhcNPAwbw3L87fjsPqTz2fQdd1CjoLE138SD58FDQ'
                                                - '6dM3VyeQoYkRFZ74G53EwvUPbQC6LsMZge6c7S1Ds4ks'
                                                - 'A9AACJ5m7UtaVz4HxzhDxGjYaY88rc2XPoFvnoTvgYBj'
                                                - '2VG5cKeBZdqozwhHGGzs13b9tzy9TXt9kPfN8MzSJ1Sm'
                                                - '3E1uFze4pi6BnTZXMsQbeh3jQCeDi966Zax9aMbYgg2D'
                                                - 'Bx9PdctdWCeC1WfU6dwP49idsXCYhqyxbRLyLwwGhr61'
                                                - 'HSbJ8quT4vuXFgf5FnjzeUuFfAtLKsq6W1Frj8y1qrif'
                                                - 'GJMLzL4F4hY9yFHY1EY6XRmW4wpuNGeBZTiv7vM2mYra'
                                                - 'FYPtEiqmRx6JprHQvWeEWEuVp3WA7DPRCE4VbhFRVuAj'
                                                - '6MJKrpnK1GbYsnEzwMRWStNGkTjAZF23NhzTQSQVXsD3'
                                                - 'HjnrJn5vBUUzpCxzjjM9ZnCPuXei2cXKJjX468B9yWD7'
                                                - '4YCF1CSyTXm1Yi9W9JeYevawupkomdgy2dLxEBHL9euq'
                                                - 'E3oMtCuPEauftdZLX8EZ8YX7BbFzpBCVRYEiLxwPJLY2'
                                    node_index:
                                        type: integer
                                        example: 16384
                                    leaf:
                                        type: string
                                        description: The leaf of the merkle tree.
                                        example: '6YdZXw49M97mfFTwgQb6kxM2c6eqZkHSaW9XhhoZXtzv'
                                    tree_id:
                                        type: string
                                        description: The ID of the merkle tree.
                                        example: '2kuTFCcjbV22wvUmtmgsFR7cas7eZUzAu96jzJUvUcb7'
                204:
                    description: 'No content.'
                400:
                    description: Invalid request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string

                401:
                    description: Unauthorized request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                403:
                    description: Request was forbidden.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                404:
                    description: The specified resource was not found.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                429:
                    description: Exceeded rate limit..
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                500:
                    description: The server encountered an unexpected condition that prevented it from fulfilling the request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
