openapi: 3.1.0
info:
  title: Solana Creator Attribution API
  version: 1.0.0
  description: |
    Advanced Solana Digital Asset Standard (DAS) API for retrieving all digital assets created by specific artists, 
    projects, or creator addresses on the Solana blockchain. This specialized API enables comprehensive discovery of 
    creator portfolios, including both traditional and compressed NFTs with detailed metadata and collection information.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
        post:
            tags:
                - RPC
            summary: getAssetsByCreator
            operationId: rpc
            description: |
                Retrieve a comprehensive list of all Solana digital assets created by a specific wallet address.
                This creator attribution API returns complete NFT collections, artwork, tokens, and other assets
                where the specified address is listed as a creator, with verification status. Essential for artist
                portfolios, creator royalty tracking, marketplace attribution, and collection discovery across 
                the Solana ecosystem.
            security:
                - ApiKeyQuery: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    default: '2.0'
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    default: '1'
                                method:
                                    type: string
                                    enum: ['getAssetsByCreator']
                                    description: The name of the DAS method to invoke.
                                    default: 'getAssetsByCreator'
                                params:
                                    type: object
                                    default:
                                        creatorAddress: 'D3XrkNZz6wx6cofot7Zohsf2KSsu2ArngNk8VqU9cTY3'
                                    properties:
                                        creatorAddress:
                                            type: string
                                            description: The Solana wallet address of the creator to retrieve all digital assets for.
                                            example: 'D3XrkNZz6wx6cofot7Zohsf2KSsu2ArngNk8VqU9cTY3'
                                        page:
                                            type: integer
                                            description: The page of results to return.
                                            example: 1
                                        limit:
                                            type: integer
                                            description: The maximum number of assets to return.
                                            example: 100
                                        sortBy:
                                            type: object
                                            description: The sorting options for the response.
                                            properties:
                                                sortBy:
                                                    type: string
                                                    description: The criteria by which the retrieved Solana assets will be sorted in the response.
                                                    enum: ['created', 'recent_action', 'updated', 'none']
                                                sortDirection:
                                                    type: string
                                                    description: The direction by which the retrieved Solana assets will be sorted in the response.
                                                    enum: ['asc', 'desc']
                                        before:
                                            type: string
                                            description: The cursor for paginating backwards through the assets.
                                            example: 'string'
                                        after:
                                            type: string
                                            description: The cursor for paginating forwards through the assets.
                                            example: 'string'
                                        options:
                                            type: object
                                            description: The display options for the response.
                                            properties:
                                                showUnverifiedCollections:
                                                    type: boolean
                                                    description: Displays grouping information for unverified collections instead of skipping them.
                                                    default: false
                                                showCollectionMetadata:
                                                    type: boolean
                                                    description: Displays metadata for the collection.
                                                    default: false
                                                showGrandTotal:
                                                    type: boolean
                                                    description: Shows the total number of assets that matched the query. This will make the request slower.
                                                    default: false
                                                showInscription:
                                                    type: boolean
                                                    description: Displays inscription details of Solana assets with on-chain inscriptions.
                                                    default: false
                                    required:
                                        - creatorAddress
            responses:
                '200':
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    result:
                                        type: object
                                        properties:
                                            total:
                                                type: integer
                                                description: The total number of Solana digital assets created by this address.
                                                example: 1
                                            limit:
                                                type: integer
                                                description: The maximum number of assets requested.
                                                example: 1
                                            page:
                                                type: integer
                                                description: The current page of results.
                                                example: 1
                                            items:
                                                type: array
                                                description: An array of assets.
                                                items:
                                                    type: object
                                                    properties:
                                                        interface:
                                                            type: string
                                                            description: The Solana token standard interface type of the digital asset.
                                                            example: "Custom"
                                                        id:
                                                            type: string
                                                            description: The unique mint address identifier of the Solana digital asset.
                                                            example: "JEH7cJxAKdprFG5AvdsY2c4ZqojxLBjFmw19zADV6oK5"
                                                        content:
                                                            type: object
                                                            description: The content and metadata of the Solana digital asset including URI, images, and attributes.
                                                        authorities:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The update authorities associated with the Solana digital asset for metadata modifications.
                                                        compression:
                                                            type: object
                                                            description: The state compression details for the Solana asset, indicating if it uses cost-efficient storage.
                                                        grouping:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The collection grouping details for organizing Solana NFTs into verified collections.
                                                        royalty:
                                                            type: object
                                                            description: The creator royalty configuration for Solana marketplace sales of this digital asset.
                                                        creators:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: The verified creator addresses and share allocations for this Solana digital asset.
                                                        ownership:
                                                            type: object
                                                            description: The current ownership details for this Solana digital asset, including owner address and delegation status.
                '400':
                    description: Bad Request. The server could not understand the request due to invalid syntax.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32602
                                            message:
                                                type: string
                                                example: "Invalid request parameters."
                                    id:
                                        type: string
                                        example: "1"
                '401':
                    description: Unauthorized. The client must authenticate itself to get the requested response.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32001
                                            message:
                                                type: string
                                                example: "Authentication failed. Missing or invalid API key."
                                    id:
                                        type: string
                                        example: "1"
                '403':
                    description: Forbidden. The client does not have access rights to the content.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32003
                                            message:
                                                type: string
                                                example: "You do not have permission to access this resource."
                                    id:
                                        type: string
                                        example: "1"
                '404':
                    description: Not Found. The server can not find the requested resource.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32004
                                            message:
                                                type: string
                                                example: "No assets found for the specified creator."
                                    id:
                                        type: string
                                        example: "1"
                '429':
                    description: Too Many Requests. The user has sent too many requests in a given amount of time.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32029
                                            message:
                                                type: string
                                                example: "Rate limit exceeded. Please try again later."
                                    id:
                                        type: string
                                        example: "1"
                '500':
                    description: Internal Server Error. The server has encountered a situation it doesn't know how to handle.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32000
                                            message:
                                                type: string
                                                example: "An unexpected error occurred on the server."
                                    id:
                                        type: string
                                        example: "1"
