openapi: 3.1.0
info:
  title: Solana NFT Collection Explorer API
  version: 1.0.0
  description: |
    Advanced Solana Digital Asset Standard (DAS) API for exploring complete NFT collections and token groups 
    on the Solana blockchain. This specialized collection browsing API enables applications to retrieve all 
    digital assets within specific collections, communities, or groupings with powerful filtering and sorting 
    capabilities. Perfect for NFT marketplaces, portfolio applications, and analytics platforms that need to 
    display complete collections with consistent formatting across both traditional and compressed NFTs.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
        post:
            tags:
                - RPC
            summary: getAssetsByGroup
            description: |
              Retrieve all Solana digital assets belonging to a specific collection or grouping.
              This powerful collection browsing API returns a complete list of NFTs that share the same 
              group designation (such as collection, community, or other grouping), with comprehensive 
              metadata and ownership details for each asset. Essential for NFT marketplaces displaying 
              collections, portfolio applications showing grouped assets, and analytics platforms tracking 
              collection-wide metrics across the Solana ecosystem.
            operationId: rpc
            security:
                - ApiKeyQuery: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    default: '2.0'
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    default: '1'
                                method:
                                    type: string
                                    enum: ['getAssetsByGroup']
                                    description: The name of the DAS method to invoke.
                                    default: 'getAssetsByGroup'
                                params:
                                    type: object
                                    default:
                                        groupKey: 'collection'
                                        groupValue: 'J1S9H3QjnRtBbbuD4HjPV6RpRhwuk4zKbxsnCHuTgh9w'
                                    properties:
                                        groupKey:
                                            type: string
                                            description: The Solana group classification type to search by (e.g., 'collection', 'community', 'creator', etc.).
                                            example: 'collection'
                                        groupValue:
                                            type: string
                                            description: The Solana collection address or group identifier to retrieve all matching NFTs for.
                                            example: 'J1S9H3QjnRtBbbuD4HjPV6RpRhwuk4zKbxsnCHuTgh9w'
                                        page:
                                            type: integer
                                            description: The page number for paginating through the Solana collection results.
                                            example: 1
                                        limit:
                                            type: integer
                                            description: The maximum number of Solana NFTs to return per request from this collection.
                                            example: 100
                                        sortBy:
                                            type: object
                                            description: The sorting options for the response.
                                            properties:
                                                sortBy:
                                                    type: string
                                                    description: The criteria by which the retrieved Solana NFTs in the collection will be sorted.
                                                    enum: ['created', 'recent_action', 'updated', 'none']
                                                sortDirection:
                                                    type: string
                                                    description: The direction by which the retrieved Solana NFTs in the collection will be sorted.
                                                    enum: ['asc', 'desc']
                                        before:
                                            type: string
                                            description: The cursor for paginating backwards through the assets.
                                            example: 'string'
                                        after:
                                            type: string
                                            description: The cursor for paginating forwards through the assets.
                                            example: 'string'
                                        options:
                                            type: object
                                            description: The display options for the response.
                                            properties:
                                                showUnverifiedCollections:
                                                    type: boolean
                                                    description: Displays grouping information for unverified collections instead of skipping them.
                                                    default: false
                                                showCollectionMetadata:
                                                    type: boolean
                                                    description: Displays metadata for the collection.
                                                    default: false
                                                showGrandTotal:
                                                    type: boolean
                                                    description: Shows the total number of assets that matched the query. This will make the request slower.
                                                    default: false
                                                showInscription:
                                                    type: boolean
                                                    description: Displays inscription details for Solana NFTs with on-chain inscriptions in the collection.
                                                    default: false
                                    required:
                                        - groupKey
                                        - groupValue
            responses:
                '200':
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    result:
                                        type: object
                                        properties:
                                            total:
                                                type: integer
                                                description: The total number of Solana NFTs found in this collection or group.
                                                example: 1
                                            limit:
                                                type: integer
                                                description: The maximum number of assets requested.
                                                example: 1
                                            page:
                                                type: integer
                                                description: The current page of results.
                                                example: 1
                                            items:
                                                type: array
                                                description: An array of Solana NFTs belonging to this collection or group.
                                                items:
                                                    type: object
                                                    properties:
                                                        interface:
                                                            type: string
                                                            description: The Solana token standard interface of the NFT in this collection.
                                                            example: "ProgrammableNFT"
                                                        id:
                                                            type: string
                                                            description: The unique mint address of this Solana NFT in the collection.
                                                            example: "JEGruwYE13mhX2wi2MGrPmeLiVyZtbBptmVy9vG3pXRC"
                                                        authorities:
                                                            type: array
                                                            description: The update authorities for this Solana NFT in the collection.
                                                        compression:
                                                            type: object
                                                            description: The compression status of this Solana NFT, indicating if it uses state compression technology.
                                                        grouping:
                                                            type: array
                                                            description: The collection and grouping associations for this Solana NFT.
                                                        royalty:
                                                            type: object
                                                            description: The royalty configuration for this Solana NFT when sold in marketplaces.
                                                        creators:
                                                            type: array
                                                            description: The verified creator addresses associated with this Solana NFT in the collection.
                                                        ownership:
                                                            type: object
                                                            description: The current ownership details for this Solana NFT in the collection.
                                                        supply:
                                                            type: object
                                                            description: The supply information for this Solana NFT if it's a master edition with prints.
                                                        mutable:
                                                            type: boolean
                                                            description: Whether this Solana NFT's metadata can be updated by the authority.
                                                            example: true
                                                        burnt:
                                                            type: boolean
                                                            description: Whether this Solana NFT has been burned/destroyed.
                                                            example: false
                '400':
                    description: Invalid request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string

                '401':
                    description: Unauthorized request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '403':
                    description: Request was forbidden.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '404':
                    description: The specified resource was not found.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '429':
                    description: Exceeded rate limit..
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                '500':
                    description: The server encountered an unexpected condition that prevented it from fulfilling the request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
