openapi: 3.0.0
info:
    title: Helius API
    version: 1.0.0
servers:
    - url: https://mainnet.helius-rpc.com
paths:
    /?api-key=<api-key>:
        post:
            tags: -RPC
            summary: getAssetProofBatch
            operationId: rpc
            parameters:
                - name: api-key
                  in: query
                  description: The API key.
                  required: true
                  schema:
                      type: string
                      example: 'string'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    required: true
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    required: true
                                method:
                                    type: string
                                    enum: ['getAssetProofBatch']
                                    description: The name of the DAS method to invoke.
                                    required: true
                                params:
                                    type: object
                                    properties:
                                        ids:
                                            type: array
                                            required: true
                                            items:
                                                type: string
                                                description: The ID of the asset proof to retrieve.
                                                example: 'Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss'
                                                required: true
                                    required:
                                        - ids
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    result:
                                        type: object
                                        properties:
                                            Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss:
                                                type: object
                                                properties:
                                                    root:
                                                        type: string
                                                        description: The root of the merkle tree.
                                                        example: "2o6Y6EiY3WXhoaEpei2pHmHLYnHDcEQVhgD89GrGHDBH"
                                                    proof:
                                                        type: array
                                                        description: The proof of the asset.
                                                        items:
                                                            type: string
                                                        example: [
                                                            "EmJXiXEAhEN3FfNQtBa5hwR8LC5kHvdLsaGCoERosZjK",
                                                            "7NEfhcNPAwbw3L87fjsPqTz2fQdd1CjoLE138SD58FDQ"
                                                        ]
                                                    node_index:
                                                        type: integer
                                                        example: 16384
                                                    leaf:
                                                        type: string
                                                        description: The leaf of the merkle tree.
                                                        example: "6YdZXw49M97mfFTwgQb6kxM2c6eqZkHSaW9XhhoZXtzv"
                                                    tree_id:
                                                        type: string
                                                        description: The ID of the merkle tree.
                                                        example: "2kuTFCcjbV22wvUmtmgsFR7cas7eZUzAu96jzJUvUcb7"
                                    id:
                                        type: string
                                        example: "my-id"
                200 No Content:
                    description: 'No content.'
                400:
                    description: Invalid request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string

                401:
                    description: Unauthorized request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                403:
                    description: Request was forbidden.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                404:
                    description: The specified resource was not found.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                429:
                    description: Exceeded rate limit..
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                500:
                    description: The server encountered an unexpected condition that prevented it from fulfilling the request.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
