openapi: 3.1.0
info:
  title: Solana NFT Edition Tracking API
  version: 1.0.0
  description: |
    Advanced Solana Digital Asset Standard (DAS) API for tracking and retrieving limited edition NFTs 
    from master editions on the Solana blockchain. This specialized API provides comprehensive visibility 
    into edition-based NFT collections, enabling applications to verify edition numbers, track print 
    distribution, monitor minting progress, and access the complete set of NFT prints derived from 
    a single master artwork on Solana.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
        post:
            tags:
                - RPC
            summary: getNftEditions
            description: |
              Retrieve all limited edition prints created from a master NFT on the Solana blockchain.
              This specialized edition tracking API returns a complete list of all individual NFT editions
              that have been minted from a specific master edition, along with their unique mint addresses, 
              edition numbers, and current supply information. Essential for NFT platforms managing limited
              edition artwork, collectors tracking edition rarity, and marketplaces verifying authentic prints
              within the Solana NFT ecosystem.
            operationId: rpc
            security:
                - ApiKeyQuery: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - jsonrpc
                                - id
                                - method
                                - params
                            properties:
                                jsonrpc:
                                    type: string
                                    enum: ['2.0']
                                    description: The version of the JSON-RPC protocol.
                                    default: '2.0'
                                id:
                                    type: string
                                    description: An ID to identify the request.
                                    example: '1'
                                    default: '1'
                                method:
                                    type: string
                                    enum: ['getNftEditions']
                                    description: The name of the DAS method to invoke.
                                    default: 'getNftEditions'
                                params:
                                    type: object
                                    default:
                                        mint: 'Ey2Qb8kLctbchQsMnhZs5DjY32To2QtPuXNwWvk4NosL'
                                    properties:
                                        mint:
                                            type: string
                                            description: The mint address of the Solana master edition NFT to retrieve all editions for.
                                            example: 'Ey2Qb8kLctbchQsMnhZs5DjY32To2QtPuXNwWvk4NosL'
                                        page:
                                            type: integer
                                            description: The page number for paginating through the Solana NFT edition results.
                                            example: 1
                                        limit:
                                            type: integer
                                            description: The maximum number of Solana NFT editions to return in a single request.
                                            example: 100
                                    required:
                                        - mint
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    last_indexed_slot:
                                        type: integer
                                        description: The slot number when the data was last indexed.
                                        example: 123456789
                                    total:
                                        type: integer
                                        description: The total number of limited edition Solana NFTs minted from this master edition.
                                        example: 1
                                    limit:
                                        type: integer
                                        description: The maximum number of NFT editions requested.
                                        example: 1
                                    page:
                                        type: integer
                                        description: The current page of results.
                                        example: 1
                                    master_edition_address:
                                        type: string
                                        description: The Solana blockchain address of the master edition NFT that controls the print editions.
                                        example: "8SHfqzJYABeGfiG1apwiEYt6TvfGQiL1pdwEjvTKsyiZ"
                                    supply:
                                        type: integer
                                        description: Current supply of minted Solana NFT editions from this master edition.
                                        example: 61
                                    max_supply:
                                        type: integer
                                        description: Maximum possible supply of Solana NFT editions that can be minted from this master.
                                        example: 69
                                    editions:
                                        type: array
                                        description: An array of individual Solana NFT editions minted from this master edition.
                                        items:
                                            type: object
                                            properties:
                                                mint:
                                                    type: string
                                                    description: The unique mint address of this individual Solana NFT edition.
                                                    example: "GJvFDcBWf6aDncd1TBzx2ou1rgLFYaMBdbYLBa9oTAEw"
                                                edition_address:
                                                    type: string
                                                    description: The Solana blockchain address of this edition account for the NFT.
                                                edition:
                                                    type: integer
                                                    description: The sequential edition number of this Solana NFT in the print series.
                                                burnt: false
                400:
                    description: Bad Request. The server could not understand the request due to invalid syntax.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32602
                                            message:
                                                type: string
                                                example: "Invalid request parameters."
                                    id:
                                        type: string
                                        example: "1"
                401:
                    description: Unauthorized. The client must authenticate itself to get the requested response.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32001
                                            message:
                                                type: string
                                                example: "Authentication failed. Missing or invalid API key."
                                    id:
                                        type: string
                                        example: "1"
                403:
                    description: Forbidden. The client does not have access rights to the content.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32003
                                            message:
                                                type: string
                                                example: "You do not have permission to access this resource."
                                    id:
                                        type: string
                                        example: "1"
                404:
                    description: Not Found. The server can not find the requested resource.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32004
                                            message:
                                                type: string
                                                example: "No NFT editions found for the specified mint address."
                                    id:
                                        type: string
                                        example: "1"
                429:
                    description: Too Many Requests. The user has sent too many requests in a given amount of time.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32029
                                            message:
                                                type: string
                                                example: "Rate limit exceeded. Please try again later."
                                    id:
                                        type: string
                                        example: "1"
                500:
                    description: Internal Server Error. The server has encountered a situation it doesn't know how to handle.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    error:
                                        type: object
                                        properties:
                                            code:
                                                type: integer
                                                example: -32000
                                            message:
                                                type: string
                                                example: "An unexpected error occurred on the server."
                                    id:
                                        type: string
                                        example: "1"
