openapi: 3.1.0
info:
  title: Solana Digital Asset Transaction History API
  version: 1.0.0
  description: |
    Advanced Solana Digital Asset Standard (DAS) API for retrieving complete transaction histories 
    for any NFT or token on the Solana blockchain. This specialized transaction monitoring API provides 
    comprehensive visibility into all historical operations performed on specific digital assets, 
    enabling applications to track ownership transfers, mints, burns, and other lifecycle events 
    for both traditional and compressed Solana NFTs.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
paths:
  /:
    post:
      tags: 
        - RPC
      summary: getSignaturesForAsset
      description: |
        Retrieve a complete chronological history of all transactions involving a specific Solana NFT or token.
        This transaction history API returns an ordered list of transaction signatures and operation types
        that affected a particular digital asset on the Solana blockchain, enabling applications to track
        the full ownership history, creation events, transfers, listings, sales, and other operations.
        Essential for marketplace provenance verification, wallet transaction history, and analytics 
        platforms tracking the lifecycle of NFTs and tokens across the Solana ecosystem.
      operationId: rpc
      security:
        - ApiKeyQuery: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum: ["2.0"]
                  description: The version of the JSON-RPC protocol.
                  default: "2.0"
                id:
                  type: string
                  description: An ID to identify the request.
                  example: "1"
                  default: "1"
                method:
                  type: string
                  enum: ["getSignaturesForAsset"]
                  description: The name of the DAS method to invoke.
                  default: "getSignaturesForAsset"
                params:
                  type: object
                  default:
                    id: "FNt6A9Mfnqbwc1tY7uwAguKQ1JcpBrxmhczDgbdJy5AC"
                  required:
                    - id
                    - page
                  properties:
                    id:
                      type: string
                      description: The unique identifier (mint address) of the Solana digital asset to retrieve transaction history for.
                      example: "FNt6A9Mfnqbwc1tY7uwAguKQ1JcpBrxmhczDgbdJy5AC"
                    page:
                      type: integer
                      description: The page number for paginating through the Solana asset's transaction history.
                      example: 1
                    limit:
                      type: integer
                      description: The maximum number of Solana transaction signatures to return per request.
                      example: 100
                    before:
                      type: string
                      description: The cursor for paginating backwards through the signatures.
                      example: "string"
                    after:
                      type: string
                      description: The cursor for paginating forwards through the signatures.
                      example: "string"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: "2.0"
                  result:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: The total number of transactions found in this Solana digital asset's history.
                        example: 3
                      limit:
                        type: integer
                        description: The maximum number of Solana transaction signatures requested per page.
                        example: 1000
                      items:
                        type: array
                        description: An array of Solana transaction signatures with their corresponding operation types affecting this digital asset.
                        items:
                          type: array
                          items:
                            type: string
                        example: [
                          ["5nLi8m72bU6PBcz4Xrk23P6KTGy9ufF92kZiQXjTv9ELgkUxrNaiCGhMF4vh6RAcisw9DEQWJt9ogM3G2uCuwwV7", "MintToCollectionV1"],
                          ["323Ag4J69gagBt3neUvajNauMydiXZTmXYSfdK5swWcK1iwCUypcXv45UFcy5PTt136G9gtQ45oyPJRs1f2zFZ3v", "Transfer"],
                          ["3TbybyYRtNjVMhhahTNbd4bbpiEacZn2qkwtH7ByL7tCHmwi2g4YapPidSRGs1gjaseKbs7RjNmUKWmU6xbf3wUT", "Transfer"]
                        ]
                  id:
                    type: string
                    example: "text"
        204:
          description: 'No content.'
        400:
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
          
        401:
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        403:
          description: Request was forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        404:
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        429:
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        500:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
