openapi: 3.1.0
info:
  title: Solana RPC API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://mainnet.helius-rpc.com
    description: Mainnet RPC endpoint
  - url: https://devnet.helius-rpc.com
    description: Devnet RPC endpoint
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api-key
      description: Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys).
  schemas:
    PriorityFeeEstimateRequest:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
          default: "2.0"
          description: JSON-RPC version identifier, must be "2.0"
        id:
          type: string
          default: "1"
          description: Client-generated identifier for the request
        method:
          type: string
          enum: ["getPriorityFeeEstimate"]
          default: "getPriorityFeeEstimate"
          description: The RPC method name
        params:
          type: array
          description: Parameters for the method call
          default:
            [
              {
                transaction: "LxzhDW7TapzziJVHEGPh1QjmZB6kjNqmvuJ9gmihBGEkzw2N8ospDq32UZdVmKWzRZqKuyvhp7xmLvsmmHa3MfxVKpYoLV9cPkw5isHnHgDUwLSMsDaZ4dLEULexXAvuV9k6fLD2LMhFKM6gqH6j69GQLAm1g4e3z5ZVZN6pmJdSmZ4PqKcwNn4sS7E3Abp1hV59uBJB9i4jEdEAh28rZ8WCeNizzEmrJZFhatFFFGSDsk23jDPEjbkMcoRWXKf1WthFScC2S6Wz284Dtjqp7kW8eybV3DpmN9DtBbcfFNQPtUwmiBZCKszdYym5AjJvRHiUKUdMwFpC3toPnMvTmKZ9iHQtzZRkg5xBufRtUN5eVYJfdw2DxzH6RfqhC2rAjfSbfJA4wmaq9f5eUe2iEjmqvne6r85PPcHBJzyqkVtAyUFtTc9DfU8UiM9rFhQ2UB71M6m5UCsC6EwowMw5k8iF8rL7iPCLdubVdy8S58DPLNG4E4rdosev1T63YdRWSgEwBZh7iX4zGBA9AKAm3B9itCSxLSL46Y6uZgVku9UXsMcWWz3URoa6hRbo55CYPLhrVeqjqX5DsXpaG6QkngbEaESQUnkakE1AFkYXmNXEd2m3sLRTYB2o5UTkwkJS2u5sJHyYqAvXr3vFZr7qAYFLD3LwS5tsdb45ZQVQwsbnNddMHgkpmSqLHS6Fv1epxqHbzpRCU1tgMsriApVWC3pj2LLD41HxkV8aKvkVyHgJFACUtbvRBZAasHf1F71Gz3qZNTdh3efWsZJRXnfxKPbATU7NTMaMUL8JjknfoVwp3",
              },
            ]
          items:
            type: object
            properties:
              transaction:
                type: string
                description: Base58 or Base64 encoded transaction for which to estimate priority fees
              accountKeys:
                type: array
                description: Array of account public keys to estimate fees for (alternative to providing a transaction)
                items:
                  type: string
                  description: Base58 encoded public key of an account
              options:
                $ref: "#/components/schemas/PriorityFeeOptions"
    PriorityFeeOptions:
      type: object
      description: Options for customizing the priority fee estimation
      properties:
        transactionEncoding:
          type: string
          enum: ["Base58", "Base64"]
          description: Encoding format of the provided transaction
        priorityLevel:
          type: string
          enum: ["Min", "Low", "Medium", "High", "VeryHigh", "UnsafeMax"]
          description: Specific priority level to estimate fees for
        includeAllPriorityFeeLevels:
          type: boolean
          description: When true, returns estimates for all priority levels
        lookbackSlots:
          type: integer
          minimum: 1
          maximum: 150
          description: Number of recent slots to analyze for fee estimation (1-150)
        includeVote:
          type: boolean
          description: When true, includes vote transactions in the fee calculation
        recommended:
          type: boolean
          description: When true, returns the recommended fee based on current network conditions
        evaluateEmptySlotAsZero:
          type: boolean
          description: When true, slots with no transactions are counted as zero-fee slots
    PriorityFeeEstimateResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
          description: JSON-RPC version identifier
        id:
          type: string
          description: Client-generated identifier matching the request
        result:
          type: object
          description: Result object containing fee estimates
          properties:
            priorityFeeEstimate:
              type: number
              format: float
              description: Estimated priority fee in microlamports
            priorityFeeLevels:
              type: object
              description: Fee estimates for different priority levels (in microlamports)
              properties:
                min:
                  type: number
                  format: float
                  description: Minimum viable fee (may result in transaction failure during congestion)
                low:
                  type: number
                  format: float
                  description: Low priority fee (longer confirmation time)
                medium:
                  type: number
                  format: float
                  description: Medium priority fee (standard confirmation time)
                high:
                  type: number
                  format: float
                  description: High priority fee (faster confirmation)
                veryHigh:
                  type: number
                  format: float
                  description: Very high priority fee (very fast confirmation)
                unsafeMax:
                  type: number
                  format: float
                  description: Maximum observed fee (fastest possible confirmation, may be unnecessarily high)
paths:
  /:
    post:
      summary: Get priority fee estimates
      description: Provides fee recommendations based on historical data, considering both global and local fee markets
      operationId: getPriorityFeeEstimate
      security:
        - ApiKeyQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PriorityFeeEstimateRequest"
            examples:
              transactionExample:
                value:
                  jsonrpc: "2.0"
                  id: "1"
                  method: "getPriorityFeeEstimate"
                  params:
                    [
                      {
                        transaction: "LxzhDW7TapzziJVHEGPh1QjmZB6kjNqmvuJ9gmihBGEkzw2N8ospDq32UZdVmKWzRZqKuyvhp7xmLvsmmHa3MfxVKpYoLV9cPkw5isHnHgDUwLSMsDaZ4dLEULexXAvuV9k6fLD2LMhFKM6gqH6j69GQLAm1g4e3z5ZVZN6pmJdSmZ4PqKcwNn4sS7E3Abp1hV59uBJB9i4jEdEAh28rZ8WCeNizzEmrJZFhatFFFGSDsk23jDPEjbkMcoRWXKf1WthFScC2S6Wz284Dtjqp7kW8eybV3DpmN9DtBbcfFNQPtUwmiBZCKszdYym5AjJvRHiUKUdMwFpC3toPnMvTmKZ9iHQtzZRkg5xBufRtUN5eVYJfdw2DxzH6RfqhC2rAjfSbfJA4wmaq9f5eUe2iEjmqvne6r85PPcHBJzyqkVtAyUFtTc9DfU8UiM9rFhQ2UB71M6m5UCsC6EwowMw5k8iF8rL7iPCLdubVdy8S58DPLNG4E4rdosev1T63YdRWSgEwBZh7iX4zGBA9AKAm3B9itCSxLSL46Y6uZgVku9UXsMcWWz3URoa6hRbo55CYPLhrVeqjqX5DsXpaG6QkngbEaESQUnkakE1AFkYXmNXEd2m3sLRTYB2o5UTkwkJS2u5sJHyYqAvXr3vFZr7qAYFLD3LwS5tsdb45ZQVQwsbnNddMHgkpmSqLHS6Fv1epxqHbzpRCU1tgMsriApVWC3pj2LLD41HxkV8aKvkVyHgJFACUtbvRBZAasHf1F71Gz3qZNTdh3efWsZJRXnfxKPbATU7NTMaMUL8JjknfoVwp3/SsAUIMHFzjQMQmoiQMSL1q+S+r9dLR55BgaWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG3fbh12Whk9nL4UbO63msHLSF7V9bN5E6jPWFfv8AqQECAwABDAIAAAAEAAAAAAAA",
                      },
                    ]
              accountKeysExample:
                value:
                  jsonrpc: "2.0"
                  id: "1"
                  method: "getPriorityFeeEstimate"
                  params:
                    [
                      {
                        accountKeys:
                          ["2CiBfRKcERi2GgYn83UaGo1wFaYHHrXGGfnDaa2hxdEA"],
                        options: { includeAllPriorityFeeLevels: true },
                      },
                    ]
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriorityFeeEstimateResponse"
              examples:
                singleEstimateResponse:
                  value:
                    jsonrpc: "2.0"
                    result: { priorityFeeEstimate: 120000.0 }
                    id: "1"
                allLevelsResponse:
                  value:
                    jsonrpc: "2.0"
                    result:
                      {
                        priorityFeeLevels:
                          {
                            min: 0.0,
                            low: 2.0,
                            medium: 10082.0,
                            high: 100000.0,
                            veryHigh: 1000000.0,
                            unsafeMax: 50000000.0,
                          },
                      }
                    id: "1"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum: ["2.0"]
                    description: JSON-RPC version identifier
                  error:
                    type: object
                    description: Error information
                    properties:
                      code:
                        type: integer
                        example: -32602
                        description: Error code
                      message:
                        type: string
                        example: "Invalid params"
                        description: Error message
                  id:
                    type: string
                    description: Client-generated identifier matching the request
